﻿@model GeneratorOfReports.ViewModels.ParameterViewModel

<!-- BEGIN PARAMETER -->
<form class="divider">
    <input data-val="true" name="ID" type="hidden" value="@Model.ID" id="@Model.Name+@Model.Hash">
    <div class="row isParameter">
        <div class="col-4">
            <div class="tooltip">
                <fieldset class="highlight">
                    <input class="parameterName" disabled="disabled" name="Name" readonly="readonly" type="text" value="@Model.Name">
                    <label>@GeneratorOfReports.Resources.Translation.Global_Name</label>
                </fieldset>
                <span class="tooltiptext">@GeneratorOfReports.Resources.Translation.Query_Parameter_Name_Tooltip</span>
            </div>
        </div>
        <div class="col-8 form-check">
            <div class="items-right">
                <!-- BEGIN REQUIRED -->
                <input class="check-box" name="Required" type="checkbox" checked="@Model.Required">
                <label>@GeneratorOfReports.Resources.Translation.Query_Parameter_Required</label>
                <!-- END REQUIRED -->
                <!-- BEGIN ISPARAMETER -->
                <input class="check-box isParameterCheckbox" name="IsParameter" type="checkbox" checked="@Model.IsParameter">
                <label>@GeneratorOfReports.Resources.Translation.Query_Parameter_IsParameter</label>
                <!-- END ISPARAMETER -->
            </div>
        </div>
    </div>
    <div class="row">
        <fieldset class="col-6">
            @Html.DropDownListFor(model => model.Keyword, Model.SQLTypeSelectList, GeneratorOfReports.Resources.Translation.Global_Select, new { @id = "parameterType" + Model.Name + Model.Hash, @class = "parameterType" })
        </fieldset>
        <fieldset class="col-6">
            <textarea cols="20" name="Description" rows="1">@Model.Description</textarea>
            <label>@GeneratorOfReports.Resources.Translation.Global_Description</label>
        </fieldset>
    </div>

    <!-- BEGIN DEFAULT VALUE -->
    <div class="row col-12">
        <h6>@GeneratorOfReports.Resources.Translation.Query_Parameter_DefaultValue:</h6>
    </div>
    <div class="defaultValue row">
        @if (Model == null || Model.Keyword == null)
        {
            <p class="col-12">
                @GeneratorOfReports.Resources.Translation.Query_Parameter_DefaultValue_SelectType
            </p>
        }
        else
        {
            Html.RenderAction("LoadParameterDefaultForm", "Query", new { keyword = Model.Keyword, modelJson = Model.DefaultValueModel });
        }
    </div>
    <!-- END DEFAULT VALUE -->
    <div class="row col-12">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
</form>
<!-- END PARAMETER -->