﻿@model GeneratorOfReports.ViewModels.QueryViewModel

<!-- BEGIN BASICS SETTINGS FORM -->
<form id="basicsSettingsForm">
    @Html.HiddenFor(model => model.ID)
    <!-- BEGIN ROW -->
    <div class="row">
        <!-- NAME -->
        <fieldset class="col-5">
            @Html.EditorFor(model => model.Name)
            @Html.LabelFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </fieldset>
        <!-- VALID -->
        <div class="col-4 form-check">
            @Html.EditorFor(model => model.Valid)
            @Html.LabelFor(model => model.Valid)
            @Html.ValidationMessageFor(model => model.Valid)
        </div>
    </div>
    <!-- END ROW -->
    <!-- BEGIN DESCRIPTION -->
    <div class="row col-12">
        <fieldset>
            <textarea cols="20" name="Description" rows="2">@Model.Description</textarea>
            <label>@GeneratorOfReports.Resources.Translation.Global_Description</label>
            @Html.ValidationMessageFor(model => model.Description)
        </fieldset>
    </div>
    <!-- END DESCRIPTION -->
</form>
<!-- END BASICS SETTINGS FORM -->