﻿@model GeneratorOfReports.ViewModels.ParameterViewModel

<form>
    <!-- NAME -->
    <h6>
        @Html.DisplayTextFor(model => model.Name)
        @Html.HiddenFor(model => model.Name, new { @id = "parameterName" + Model.Hash })
    </h6>
    @Html.HiddenFor(model => model.ID, new { @id = "parameterIdentifier" + Model.Hash })
    <!-- BEGIN INFORMATION -->
    <div class="row">
        <!-- REQUIRED -->
        <div class="col-2 vertical-group">
            <label>@GeneratorOfReports.Resources.Translation.Query_Parameter_Required</label>
            @Html.DisplayTextFor(model => model.RequiredWord)
            @Html.HiddenFor(model => model.RequiredWord, new { @id = "parameterRequiredWord" + Model.Hash })
        </div>
        <!-- TYPE -->
        <div class="col-3 vertical-group">
            <label>@GeneratorOfReports.Resources.Translation.Global_Type</label>
            @Html.DisplayTextFor(model => model.Type)
            @Html.HiddenFor(model => model.Type, new { @id = "parameterType" + Model.Hash })
            @Html.HiddenFor(model => model.Keyword, new { @id = "parameterKeyword" + Model.Hash })
        </div>
        <!-- DEFAULT VALUE -->
        <div class="col-3 vertical-group">
            <label>@GeneratorOfReports.Resources.Translation.Query_Parameter_DefaultValue</label>
            @Html.DisplayTextFor(model => model.DefaultValue)
            @Html.HiddenFor(model => model.DefaultValue, new { @id = "parameterDefaultValue" + Model.Hash })
            @Html.HiddenFor(model => model.DefaultValueModel, new { @id = "parameterDefaultValueModel" + Model.Hash })
        </div>
        <!-- DESCRIPTION -->
        <div class="col-4 vertical-group">
            <label>@GeneratorOfReports.Resources.Translation.Global_Description</label>
            @Html.DisplayTextFor(model => model.Description)
            @Html.HiddenFor(model => model.Description, new { @id = "parameterDescription" + Model.Hash })
        </div>
    </div>
    <!-- END INFORMATION -->
    <!-- BEGIN SETTINGS -->
    <div class="row parameterInsertedValue">
        <!-- USE DEFAULT VALUE -->
        <div class="col-3 form-check">
            @Html.EditorFor(model => model.UseDefaultVaue, new { htmlAttributes = new { @id = "parameterUseDefaultVaue" + Model.Hash } })
            <label>@GeneratorOfReports.Resources.Translation.Query_Parameter_DefaultValue</label>
        </div>
            @{ Html.RenderAction("GenerateParameterTypeForm", "Report", new { parameter = Model }); }

    </div>
    <!-- END SETTINGS -->
    <!-- BEGIN SUMMARY ERRORS -->
    <fieldset>
        @Html.ValidationSummary()
    </fieldset>
    <!-- END SUMMARY ERRORS -->
</form>