﻿@model GeneratorOfReports.ViewModels.ReportSearchViewModel

<!-- BEGIN SEARCH FORM -->
<form id="reportSearchForm">
    <!-- BEGIN ROW -->
    <div class="row">
        <!-- NAME -->
        <fieldset class="col-4">
            @Html.EditorFor(model => model.Name)
            @Html.LabelFor(model => model.Name)
        </fieldset>
        <!-- VALID -->
        <fieldset class="col-4">
            @if (Model != null && Model.ValidSelectList != null)
            {
                @Html.DropDownListFor(model => model.Valid, Model.ValidSelectList, GeneratorOfReports.Resources.Translation.Global_Valid)
            }
        </fieldset>
        <!-- DESCRIPTION -->
        <fieldset class="col-4">
            @Html.TextAreaFor(model => model.Description, new { rows = 1 })
            @Html.LabelFor(model => model.Description)
        </fieldset>
    </div>
    <!-- END ROW -->
</form>
<!-- END SEARCH FORM -->