﻿@model GeneratorOfReports.ViewModels.ReportViewModel

<!-- BEGIN BASICS SETTINGS FORM -->
<form id="basicsSettingsForm">
    @Html.HiddenFor(model => model.ID)
    <!-- BEGIN ROW -->
    <div class="row">
        <!-- NAME -->
        <fieldset class="col-4">
            @Html.EditorFor(model => model.Name)
            @Html.LabelFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </fieldset>
        <!-- ORDER -->
        <fieldset class="col-4">
            @Html.EditorFor(model => model.Order, new { htmlAttributes = new { min = 0 } })
            @Html.LabelFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
            <div class="row">
                <!-- BEGIN TOOLTIP -->
                <div class="tooltip">
                    <span class="fa fa-question-circle"></span>
                    <span class="tooltiptext">@GeneratorOfReports.Resources.Translation.Report_Order_Maximum_Tooltip</span>
                </div>
                <!-- END TOOLTIP -->
                @GeneratorOfReports.Resources.Translation.Report_Order_Maximum:
                @Html.ValueFor(model => Model.Maximum)
            </div>
        </fieldset>
        <!-- VALID -->
        <div class="col-4">
            <div class="form-check">
                @Html.EditorFor(model => model.Valid)
                @Html.LabelFor(model => model.Valid)
                @Html.ValidationMessageFor(model => model.Valid)
            </div>
        </div>
    </div>
    <!-- END ROW -->
    <!-- BEGIN ROW -->
    <div class="row col-12">
        <!-- DESCRIPTION -->
        <fieldset>
            @Html.TextAreaFor(model => model.Description)
            @Html.LabelFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </fieldset>
    </div>
</form>
<!-- END BASICS SETTINGS -->