﻿@model GeneratorOfReports.ViewModels.UserViewModel

<!-- BEGIN SEARCH FORM -->
<form id="userSearchForm">
    <!-- BEGIN PERSONAL INFORMATION -->
    <section>
        <h5>@GeneratorOfReports.Resources.Translation.User_PersonalInformation</h5>
        <div class="row">
            <!-- BEGIN COLUMN -->
            <div class="col-4">
                <!-- PERSONAL NUMBER -->
                <fieldset>
                    @Html.EditorFor(model => model.PersonalNumber)
                    @Html.LabelFor(model => model.PersonalNumber)
                </fieldset>
                <!-- LOGIN -->
                <fieldset>
                    @Html.EditorFor(model => model.Login)
                    @Html.LabelFor(model => model.Login)
                </fieldset>
            </div>
            <!-- END COLUMN -->
            <!-- BEGIN COLUMN -->
            <div class="col-4">
                <!-- FIRSTNAME -->
                <fieldset>
                    @Html.EditorFor(model => model.FirstName)
                    @Html.LabelFor(model => model.FirstName)
                </fieldset>
                <!-- SURNAME -->
                <fieldset>
                    @Html.EditorFor(model => model.Surname)
                    @Html.LabelFor(model => model.Surname)
                </fieldset>
            </div>
            <!-- END COLUMN -->
            <!-- BEGIN COLUMN -->
            <div class="col-4">
                <!-- DATE OF BIRTH -->
                <fieldset>
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "datepickersearch", nme = "datepickersearch", autocomplete = "off", @id="dateSearchPicker" } })
                    @Html.LabelFor(model => model.DateOfBirth)
                </fieldset>
                <!-- IS ACTIVE -->
                <div class="form-check">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.LabelFor(model => model.IsActive)
                </div>
            </div>
            <!-- END COLUMN -->
        </div>
    </section>
    <!-- END PERSONAL INFORMATION -->
    <!-- BEGIN CONTACT INFORMATION -->
    <section class="border-top">
        <h5>@GeneratorOfReports.Resources.Translation.User_ContactInformation</h5>
        <div class="row">
            <!-- BEGIN COLUMN -->
            <div class="col-4">
                <!-- EMAIL -->
                <fieldset>
                    @Html.EditorFor(model => model.Email)
                    @Html.LabelFor(model => model.Email)
                </fieldset>
            </div>
            <!-- END COLUMN -->
            <!-- BEGIN COLUMN -->
            <div class="col-4">
                <!-- PHONE NUMBER -->
                <fieldset>
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.LabelFor(model => model.PhoneNumber)
                </fieldset>
            </div>
            <!-- END COLUMN -->
        </div>
    </section>
    <!-- END CONTACT INFORMATION -->
    <!--- BEGIN SELECT COMPANIES -->
    <section id="localitiesSelectPartial" class="selection border-top">
        <h5>@GeneratorOfReports.Resources.Translation.User_Companies</h5>
        @{ Html.RenderAction("GenerateLocalitiesSelection", "LocalityWithRoles"); }
    </section>
    <!--- END SELECT COMPANIES -->
    <!--- BEGIN SELECT ROLES -->
    <section id="rolesSelectPartial" class="selection border-top">
        <h5>@GeneratorOfReports.Resources.Translation.User_Roles</h5>
        @{ Html.RenderAction("GenerateRolesSelection", "LocalityWithRoles"); }
    </section>
    <!--- END SELECT ROLES -->
</form>
<!-- END SEARCH FORM -->