﻿@model string

<!-- BEGIN CONFIRMATION MODAL -->
<div id="confirmationModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- BEGIN MODAL HEADER -->
            <div class="modal-header">
                <h4>@GeneratorOfReports.Resources.Translation.Global_Confirmation</h4>
                <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- END MODAL HEADER -->
            <!-- BEGIN MODAL BODY -->
            <div class="modal-body">
                <span class="fa fa-question"></span>
                <span id="confirmationMessage">@Model</span>
            </div>
            <!-- END MODAL BODY -->
            <!-- BEGIN MODAL FOOTER -->
            <div class="modal-footer">
                <button class="btn btn-orange-sm" data-dismiss="modal" onClick="passConfirmationAnswer(true)">@GeneratorOfReports.Resources.Translation.Global_Yes</button>
                <button class="btn btn-white-sm" data-dismiss="modal" onClick="passConfirmationAnswer(false)">@GeneratorOfReports.Resources.Translation.Global_No</button>
            </div>
            <!-- END MODAL FOOTER -->
        </div>
    </div>
</div>
<!-- END CONFIRMATION MODAL -->