﻿@model GeneratorOfReports.ViewModels.SelectDBViewModel

<!-- BEGIN SELECT DB MODAL -->
<div id="selectDBModal" class="modal fade">
    <div class="modal-dialog modal-dialog-small">
        <div class="modal-content">
            <form id="selectDBForm">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h4>@GeneratorOfReports.Resources.Translation.Query_Database_Select</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="col-10 center">
                        @GeneratorOfReports.Resources.Translation.Query_Database_Select_Text
                        @if (Model != null || Model.Databases != null)
                        {
                            <fieldset>
                                @Html.DropDownListFor(model => model.Database, Model.Databases, GeneratorOfReports.Resources.Translation.Query_Database_Select)
                                @Html.ValidationMessageFor(model => model.Database)
                            </fieldset>
                        }
                    </div>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <button class="btn btn-white-sm" data-dismiss="modal" aria-hidden="true">
                        @GeneratorOfReports.Resources.Translation.Global_Close
                        <span class="fa fa-times"></span>
                    </button>
                    <button id="selectDBButton" class="btn btn-orange-sm">
                        @GeneratorOfReports.Resources.Translation.Global_Select
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
                <!-- END MODAL FOOTER -->
            </form>
        </div>
    </div>
</div>
<!-- END SELECT DB MODAL -->