﻿@model GeneratorOfReports.ViewModels.EditProfileViewModel

<!-- BEGIN EDIT PROFILE -->
<div id="editProfileModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- BEGIN MODAL HEADER -->
            <div class="modal-header">
                <h4>@GeneratorOfReports.Resources.Translation.User_EditProfile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- END MODAL HEADER -->
            <!-- BEGIN MODAL BODY -->
            <div class="modal-body">

                <form id="editProfileForm">
                    <h5>@GeneratorOfReports.Resources.Translation.User_PersonalInformation</h5>
                    <!-- BEGIN PERSONAL INFORMATION -->
                    <div class="row">
                        <div class="col-6">
                            <!-- TITLE -->
                            <fieldset>
                                @Html.EditorFor(model => Model.User.Title)
                                @Html.LabelFor(model => Model.User.Title)
                                @Html.ValidationMessageFor(model => Model.User.Title)
                            </fieldset>
                            <!-- FIRSTNAME -->
                            <fieldset>
                                @Html.EditorFor(model => Model.User.FirstName)
                                @Html.LabelFor(model => Model.User.FirstName)
                                @Html.ValidationMessageFor(model => Model.User.FirstName)
                            </fieldset>
                            <!-- SURNAME -->
                            <fieldset>
                                @Html.EditorFor(model => Model.User.Surname)
                                @Html.LabelFor(model => Model.User.Surname)
                                @Html.ValidationMessageFor(model => Model.User.Surname)
                            </fieldset>
                        </div>
                        <!-- BEGIN COLUMN -->
                        <div class="col-6">
                            <!-- LOGIN -->
                            <fieldset>
                                @Html.EditorFor(model => Model.User.Login)
                                @Html.LabelFor(model => Model.User.Login)
                                @Html.ValidationMessageFor(model => Model.User.Login)
                            </fieldset>
                            <!-- DATE of BIRTH -->
                            <fieldset>
                                @Html.EditorFor(model => model.User.DateOfBirth, new { htmlAttributes = new { @class = "datepicker" } })
                                @Html.LabelFor(model => model.User.DateOfBirth)
                                @Html.ValidationMessageFor(model => model.User.DateOfBirth)
                            </fieldset>
                        </div>
                    </div>
                    <!-- END PERSONAL INFORMATION -->
                    <!-- BEGIN CONTACT INFORMATION -->
                    <div class="border-top">
                        <h5>@GeneratorOfReports.Resources.Translation.User_ContactInformation</h5>
                        <div class="row">
                            <!--EMAIL -->
                            <div class="col-6">
                                <fieldset>
                                    @Html.EditorFor(model => Model.User.Email)
                                    @Html.LabelFor(model => Model.User.Email)
                                    @Html.ValidationMessageFor(model => Model.User.Email)
                                </fieldset>
                            </div>
                            <!-- PHONE NUMBER -->
                            <div class="col-6">
                                <fieldset>
                                    @Html.EditorFor(model => Model.User.PhoneNumber)
                                    @Html.LabelFor(model => Model.User.PhoneNumber)
                                    @Html.ValidationMessageFor(model => Model.User.PhoneNumber)
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTACT INFORMATION -->
                    <!-- BEGIN CHANGE PASSWORD -->
                    <div class="border-top">
                        <div class="row">
                            <!-- TOGGLE PASSWORD BUTTON -->
                            <div class="items-right">
                                @Html.HiddenFor(model => model.ChangePasswordViewModel.ChangePassword)
                                <button class="btn btn-white-sm hideShowToggler">
                                    @GeneratorOfReports.Resources.Translation.Account_ChangePassword
                                    <span class="fa fa-chevron-down icon-show"></span>
                                    <span class="fa fa-caret-down icon-hide hide"></span>
                                </button>
                            </div>
                        </div>
                        <div class="hideAndShowElement hide row">
                            <!-- ACTUAL PASSWORD -->
                            <fieldset class="col-6">
                                <span class="fa fa-eye icon-input icon-password"></span>
                                @Html.EditorFor(model => Model.ChangePasswordViewModel.Password)
                                @Html.LabelFor(model => Model.ChangePasswordViewModel.Password)
                                @Html.ValidationMessageFor(model => Model.ChangePasswordViewModel.Password)
                            </fieldset>
                            <!-- NEW PASSWORD -->
                            <fieldset class="col-6">
                                <span class="fa fa-eye icon-input icon-password"></span>
                                @Html.EditorFor(model => Model.ChangePasswordViewModel.ConfirmPassword)
                                @Html.LabelFor(model => Model.ChangePasswordViewModel.ConfirmPassword)
                                @Html.ValidationMessageFor(model => Model.ChangePasswordViewModel.ConfirmPassword)
                            </fieldset>
                        </div>
                    </div>
                    <!-- END CHANGE PASSWORD -->
                </form>
            </div>

            <!-- END MODAL BODY -->
            <!-- BEGIN MODAL FOOTER -->
            <div class="modal-footer">
                <button class="btn btn-orange-sm" id="editProfileButton">
                    @GeneratorOfReports.Resources.Translation.Global_Save
                    <span class="fa fa-check"></span>
                </button>
            </div>
            <!-- END MODAL FOOTER -->
        </div>
    </div>
</div>
<!-- END EDIT PROFILE -->