﻿@model GeneratorOfReports.ViewModels.ReportDetailsViewModel

<div id="reportEditModal" class="modal fade">
    <div class="modal-dialog modal-dialog-large">
        <div class="modal-content">
            <!-- BEGIN MODAL HEADER -->
            <div class="modal-header">
                <h4> @GeneratorOfReports.Resources.Translation.Global_Edit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- END MODAL HEADER -->
            <!-- BEGIN MODAL BODY -->
            <div class="modal-body row">
                <!-- BEGIN LEFT MENU -->
                <div class="col-6">
                    <div class="panel panel-full panel-overflow">
                        <!-- BEGIN SELECT QUERIES SECTION -->
                        <h5>
                            @GeneratorOfReports.Resources.Translation.Query_Queries_Selected
                        </h5>
                        @{ Html.RenderAction("GenerateSelectQueriesTable", "Report"); }
                        <fieldset>
                            @Html.ValidationMessage("", new { @id = "queriesValidationMessage" })
                        </fieldset>
                        <!-- END SELECT QUERIES SECTION -->
                    </div>
                </div>
                <!-- END LEFT MENU -->
                <!-- BEGIN RIGHT SECTION -->
                <div class="col-6 panel-full">
                    <div class="panel-full panel-body">
                        <!-- BEGIN BASICS SETTINGS -->
                        <section>
                            <h5>@GeneratorOfReports.Resources.Translation.Global_BasicsSettings</h5>
                            @{Html.RenderPartial("Forms/_ReportBasicsSettingsForm", Model.Report);}
                        </section>
                        <!-- END BASICS SETTINGS -->
                        <!-- BEGIN AUTHORIZATION -->
                        <section id="authorizationTableSection" data-url="/Report/LoadReportAuthorizationTableData" class="border-top">
                            <div class="row">
                                <h5>@GeneratorOfReports.Resources.Translation.Global_Authorization</h5>
                                <!-- BEGIN TOOLTIP -->
                                <div class="tooltip">
                                    <span class="fa fa-question-circle"></span>
                                    <span class="tooltiptext">@GeneratorOfReports.Resources.Translation.Authorization_Tooltip</span>
                                </div>
                                <!-- END TOOLTIP -->
                            </div>
                            @{ Html.RenderPartial("Tables/_AuthorizationTable"); }
                        </section>
                        <!-- END AUTHORIZATION -->
                    </div>
                </div>
                <!-- END RIGHT SECTION -->
            </div>
            <!-- END MODAL BODY -->
            <!-- BEGIN MODAL FOOTER -->
            <div class="modal-footer">
                <button class="btn btn-white-sm" data-dismiss="modal" aria-hidden="true">
                    @GeneratorOfReports.Resources.Translation.Global_Close
                    <span class="fa fa-times"></span>
                </button>
                <button id="editReportButton" class="btn btn-green-sm">
                    @GeneratorOfReports.Resources.Translation.Global_Save
                    <span class="fa fa-check"></span>
                </button>
            </div>
            <!-- END MODAL FOOTER -->
        </div>
    </div>
</div>