﻿@model GeneratorOfReports.ViewModels.ReportDetailsViewModel

<div id="reportDetailsModal" class="modal fade">
    <div class="modal-dialog modal-dialog-large">
        <div class="modal-content">
            <!-- BEGIN MODAL HEADER -->
            <div class="modal-header">
                <h4> @GeneratorOfReports.Resources.Translation.Report_Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- END MODAL HEADER -->
            <!-- BEGIN MODAL BODY -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 panel-full">
                        <!-- BEGIN BASICS SETTINGS -->
                        <h5>@GeneratorOfReports.Resources.Translation.Global_BasicsSettings</h5>
                        <div class="panel-body">
                            @Html.HiddenFor(model => model.Report.ID)
                            <div class="row">
                                <!-- NAME -->
                                <div class="col-4 vertical-group">
                                    @Html.LabelFor(model => model.Report.Name)
                                    @Html.DisplayTextFor(model => model.Report.Name)
                                </div>
                                <!-- VALID -->
                                <div class="col-2 vertical-group">
                                    @Html.LabelFor(model => model.Report.Valid)
                                    @Html.DisplayTextFor(model => model.Report.ValidWord)
                                </div>
                                <!-- ORDER -->
                                <div class="col-3 vertical-group">
                                    @Html.LabelFor(model => model.Report.Order)
                                    @Html.DisplayTextFor(model => model.Report.Order)
                                </div>
                                <!-- TIME CREATE -->
                                <div class="col-3 vertical-group">
                                    @Html.LabelFor(model => model.Report.TimeCreate)
                                    @Html.DisplayTextFor(model => model.Report.TimeCreate)
                                </div>
                            </div>
                            <!-- DESCRIPTION -->
                            <div class="row col-12">
                                <div class="vertical-group">
                                    @Html.LabelFor(model => model.Report.Description)
                                    @Html.DisplayTextFor(model => model.Report.Description)
                                </div>
                            </div>
                            <!-- END BASICS SETTINGS -->
                            @if (Model != null && Model.CanEdit)
                            {
                                <!-- BEGIN AUTHORIZATION -->
                                <section id="authorizationTableSection" data-url="/Report/LoadReportAuthorizationTableData" class="divider">
                                    <h5>@GeneratorOfReports.Resources.Translation.Global_Authorization</h5>
                                    @{Html.RenderPartial("Parts/_AuthorizationDetails");}
                                </section>
                                <!-- END AUTHORIZATION -->
                            }
                        </div>
                    </div>
                    <div class="col-6 panel-full">
                        <h5>@GeneratorOfReports.Resources.Translation.Query_Queries</h5>
                        <div class="panel-body">
                            <!-- BEGIN QUERIES -->
                            @if (Model != null && Model.Queries.Any())
                            {
                                foreach (var query in Model.Queries)
                                {
                                    <!-- BEGIN QUERY -->
                                    <div class="border-top">
                                        <h6>@GeneratorOfReports.Resources.Translation.Report_Query</h6>
                                        <div class="row">
                                            <!-- NAME -->
                                            <div class="col-4 vertical-group">
                                                @Html.LabelFor(Model => query.Name)
                                                @Html.DisplayFor(Model => query.Name)
                                            </div>
                                            <!-- DATABASE -->
                                            <div class="col-4 vertical-group">
                                                @Html.LabelFor(Model => query.Database)
                                                @Html.DisplayFor(Model => query.Database)
                                            </div>
                                            <!-- VALID -->
                                            <div class="col-2 vertical-group">
                                                @Html.LabelFor(Model => query.Valid)
                                                @Html.DisplayFor(Model => query.ValidWord)
                                            </div>
                                            <!-- COUNT -->
                                            <div class="col-2 vertical-group">
                                                @Html.LabelFor(Model => query.Count)
                                                @Html.DisplayFor(Model => query.Count)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 vertical-group">
                                                @Html.LabelFor(Model => query.Description)
                                                @Html.DisplayFor(Model => query.Description)
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END QUERY -->
                                }
                            }
                            <!-- END QUERIES -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MODAL BODY -->
            <!-- BEGIN MODAL FOOTER -->
            <div class="modal-footer">
                <button class="btn btn-white-sm" data-dismiss="modal" aria-hidden="true">
                    @GeneratorOfReports.Resources.Translation.Global_Close
                    <span class="fa fa-times"></span>
                </button>
                @if (Model != null && Model.CanEdit)
                {
                    <button class="btn btn-orange-sm openEditingModal" data-dismiss="modal" aria-hidden="true" data-toggle="modal">
                        @GeneratorOfReports.Resources.Translation.Global_Edit
                        <span class="fa fa-edit"></span>
                    </button>
                }
            </div>
            <!-- END MODAL FOOTER -->
        </div>
    </div>
</div>