﻿@model GeneratorOfReports.ViewModels.ReportOrderViewModel

<div id="reportEditOrderModal" class="modal fade">
    <div id="reportEditOrderDialog" class="modal-dialog modal-dialog-tiny">
        <div class="modal-content">
            <!-- BEGIN MODAL HEADER -->
            <div class="modal-header">

                <!-- BEGIN TOOLTIP -->
                <div class="tooltip">
                    <span class="fa fa-question-circle"></span>
                    <span class="tooltiptext">@GeneratorOfReports.Resources.Translation.Report_Order_Edit_Text</span>
                </div>
                <!-- END TOOLTIP -->
                @GeneratorOfReports.Resources.Translation.Report_Order_Edit
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- END MODAL HEADER -->
            <!-- BEGIN MODAL BODY -->
            <div class="modal-body">
                <form id="editOrderForm">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ID)
                    <!-- BEGIN ORDER -->
                    <fieldset>
                        @Html.EditorFor(model => Model.Order, new { htmlAttributes = new { min = 0 } })
                        @Html.LabelFor(model => Model.Order)
                        @Html.ValidationSummary()
                    </fieldset>
                    <!-- END ORDER -->
                    <!-- BEGIN MAXIMUM -->
                    <div>
                        @Html.LabelFor(model => Model.Maximum)
                        @Html.ValueFor(model => Model.Maximum)
                        @Html.HiddenFor(model => model.Maximum)
                    </div>
                    <!-- END MAXIMUM -->
                </form>
            </div>
            <!-- END MODAL BODY -->
            <!-- BEGIN MODAL FOOTER -->
            <div class="modal-footer">
                <button id="editOrderButton" class="btn btn-green-sm">
                    @GeneratorOfReports.Resources.Translation.Global_Save
                    <span class="fa fa-check"></span>
                </button>
            </div>
            <!-- END MODAL FOOTER -->
        </div>
    </div>
</div>