﻿@model GeneratorOfReports.ViewModels.UserViewModel

<div id="userCreateModal" class="modal fade">
    <div class="modal-dialog modal-dialog-large">
        <div class="modal-content">
            <!-- BEGIN MODAL HEADER -->
            <div class="modal-header">
                <h4> @GeneratorOfReports.Resources.Translation.User_Create</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- END MODAL HEADER -->
            <!-- BEGIN MODAL BODY -->
            <form id="createUserForm">
                <div class="modal-body">
                    <!-- BEGIN PERSONAL INFORMATION -->
                    <section>
                        <h5>@GeneratorOfReports.Resources.Translation.User_PersonalInformation</h5>
                        <div class="row">
                            <!-- PERSONAL NUMBER -->
                            <fieldset class="col-4">
                                @Html.EditorFor(model => model.PersonalNumber)
                                @Html.LabelFor(model => model.PersonalNumber)
                                @Html.ValidationMessageFor(model => model.PersonalNumber)
                            </fieldset>
                            <!-- FIRSTNAME -->
                            <fieldset class="col-4">
                                @Html.EditorFor(model => model.FirstName)
                                @Html.LabelFor(model => model.FirstName)
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </fieldset>
                            <!-- DATE OF BIRTH -->
                            <fieldset class="col-4">
                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "datepicker" } })
                                @Html.LabelFor(model => model.DateOfBirth)
                                @Html.ValidationMessageFor(model => model.DateOfBirth)
                            </fieldset>
                        </div>
                        <div class="row">
                            <!-- LOGIN -->
                            <fieldset class="col-4">
                                @Html.EditorFor(model => model.Login)
                                @Html.LabelFor(model => model.Login)
                                @Html.ValidationMessageFor(model => model.Login)
                            </fieldset>
                            <!-- SURNAME -->
                            <fieldset class="col-4">
                                @Html.EditorFor(model => model.Surname)
                                @Html.LabelFor(model => model.Surname)
                                @Html.ValidationMessageFor(model => model.Surname)
                            </fieldset>
                            <!-- IS ACTIVE -->
                            <div class="form-check  class=" col-4"">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.LabelFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                            <!-- END COLUMN -->
                        </div>
                    </section>
                    <!-- END PERSONAL INFORMATION -->
                    <!-- BEGIN CONTACT INFORMATION -->
                    <section class="border-top">
                        <h5>@GeneratorOfReports.Resources.Translation.User_ContactInformation</h5>
                        <div class="row">
                            <!-- BEGIN COLUMN -->
                            <div class="col-4">
                                <!-- EMAIL -->
                                <fieldset>
                                    @Html.EditorFor(model => model.Email)
                                    @Html.LabelFor(model => model.Email)
                                    @Html.ValidationMessageFor(model => model.Email)
                                </fieldset>
                            </div>
                            <!-- END COLUMN -->
                            <!-- BEGIN COLUMN -->
                            <div class="col-4">
                                <!-- PHONE NUMBER -->
                                <fieldset>
                                    @Html.EditorFor(model => model.PhoneNumber)
                                    @Html.LabelFor(model => model.PhoneNumber)
                                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                                </fieldset>
                            </div>
                            <!-- END COLUMN -->
                        </div>
                    </section>
                    <!-- END CONTACT INFORMATION -->
                    <!-- BEGIN ROLES AND LOCALITIES -->
                    <section class="form-group">
                        @{ Html.RenderAction("GenerateLocalityWithRolesTable", "LocalityWithRoles", new { localitiesWithRoles = Model.LocalityWithRoles }); }
                    </section>
                    <!-- END ROLES AND LOCALITIES -->
                </div>
            </form>
            <!-- END MODAL BODY -->
            <!-- BEGIN MODAL FOOTER -->
            <div class="modal-footer">
                <!-- CLOSE BUTTON -->
                <button class="btn btn-white-sm" data-dismiss="modal" aria-hidden="true">
                    @GeneratorOfReports.Resources.Translation.Global_Close
                    <span class="fa fa-times"></span>
                </button>
                <!-- EDIT USER BUTTON -->
                <button id="createUserButton" class="btn btn-green-sm">
                    @GeneratorOfReports.Resources.Translation.Global_Save
                    <span class="fa fa-check"></span>
                </button>
            </div>
            <!-- END MODAL FOOTER -->
        </div>
    </div>
</div>