﻿@model GeneratorOfReports.ViewModels.UserViewModel

<div id="userDetailsModal" class="modal fade">
    <div class="modal-dialog modal-dialog-large">
        <div class="modal-content">
            <!-- BEGIN MODAL HEADER -->
            <div class="modal-header">
                <h4>@GeneratorOfReports.Resources.Translation.User_Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- END MODAL HEADER -->
            <!-- BEGIN MODAL BODY -->
            <div class="modal-body">
                <div class="row">
                    <!-- BEGIN USER INFORMATION -->
                    <section class="col-4">
                        <!-- BEGIN PANEL -->
                        <div class="panel panel-full panel-primary">
                            <div class="fa-stack-medium">
                                <span class="hexagon"></span>
                                <i class="fa fa-user fa-stack-1x"></i>
                            </div>
                            <!-- BEGIN PANEL TITLE -->
                            <h5 class="panel-title center">
                                <!-- TITLE + FIRST NAME + SURNAME -->
                                @Model.Title @Model.FirstName @Model.Surname
                            </h5>
                            <!-- END PANEL TITLE -->
                            <!-- BEGIN PANEL BODY -->
                            <div class="panel-body">
                                <div class="row">
                                    <!-- PERSONAL NUMBER -->
                                    <div class="col-6 vertical-group">
                                        <div class="name">
                                            @Html.LabelFor(model => Model.PersonalNumber)
                                        </div>
                                        <div class="text">
                                            @Model.PersonalNumber
                                        </div>
                                    </div>
                                    <!-- LOGIN -->
                                    <div class="col-6 vertical-group">
                                        <div class="name">
                                            @Html.LabelFor(model => Model.Login)
                                        </div>
                                        <div class="text">
                                            @Model.Login
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- DATE OF BIRTH -->
                                    <div class="col-6 vertical-group">
                                        <div class="name">
                                            @Html.LabelFor(model => Model.DateOfBirth)
                                        </div>
                                        @if (Model.DateOfBirth != null)
                                        {
                                            <div class="text">
                                                @Model.DateOfBirth.Value​.ToShortDateString()
                                            </div>
                                        }
                                    </div>
                                    <!-- IS ACTIVE -->
                                    <div class="col-6 vertical-group">
                                        <div class="name">
                                            @Html.LabelFor(model => Model.IsActive)
                                        </div>
                                        <div class="text">
                                            @Model.IsActive
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- PHONE NUMBER -->
                                    <div class="col-12 vertical-group">
                                        <div class="name">
                                            @Html.LabelFor(model => Model.PhoneNumber)
                                        </div>
                                        <div class="text">
                                            @Model.PhoneNumber
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- EMAIL -->
                                    <div class="col-12 vertical-group">
                                        <div class="name">
                                            @Html.LabelFor(model => Model.Email)
                                        </div>
                                        <div class="text">
                                            @Model.Email
                                        </div>
                                    </div>
                                </div>
                                <!-- BEGIN ROLES AND LOCALITIES -->
                                <table>
                                    <thead>
                                        <tr>
                                            <th>@GeneratorOfReports.Resources.Translation.User_Locality</th>
                                            <th>@GeneratorOfReports.Resources.Translation.User_Roles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (KeyValuePair<GeneratorOfReports.Models.Locality, List<GeneratorOfReports.Models.Role>> duo in Model.LocalityWithRolesDict)
                                        {
                                            <tr>
                                                <td>@duo.Key.Name</td>
                                                <td>
                                                    @foreach (var role in duo.Value)
                                                    {
                                                        @role.Name <br />
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <!-- END ROLES AND LOCALITIES -->
                            </div>
                            <!-- END PANEL BODY -->
                        </div>
                        <!-- END PANEL -->
                    </section>
                    <!-- END USER INFORMATION -->
                    <!-- BEGIN HISTORY OF ACTIONS -->
                    <div id="historyOfActions" class="col-8">
                        <div class="spinner">
                            <i class='fa fa-spinner fa-spin'></i>
                            @GeneratorOfReports.Resources.Translation.Global_Loading
                        </div>
                    </div>
                    <!-- END HISTORY OF ACTIONS -->
                </div>
            </div>
            <!-- END MODAL BODY -->
            <!-- BEGIN MODAL FOOTER -->
            <div class="modal-footer">
                <button class="btn btn-white-sm" data-dismiss="modal" aria-hidden="true">
                    @GeneratorOfReports.Resources.Translation.Global_Close
                    <span class="fa fa-times"></span>
                </button>
                <button class="btn btn-orange-sm" data-dismiss="modal" aria-hidden="true" data-toggle="modal" data-target="#userEditModal">
                    @GeneratorOfReports.Resources.Translation.Global_Edit
                    <span class="fa fa-arrow-right"></span>
                </button>
            </div>
            <!-- END MODAL FOOTER -->
        </div>
    </div>
</div>