/* ---------------------------------
	TABLE OF CONTENTS

    1. BASICS
    2. BUTTONS
    3. ICONS
    4. SPINNER
    5. TREEVIEW 
    6. STEPS
    7. BACK TO TOP
    8. NAV
    9. FORMS
    10. CONTAINERS
    11. ROW + COLUMNS
    12. TOOLTIP
    13. PANELS
    14. TABS
    15. SCROLLER
    16. RESIZING DUO
    17. TIMELINE
    18. TABLES
    19. MODAL DIALOG
    20. HIDE / SHOW ELEMENT
--------------------------------- */

/* ---------------------------------------------------- 
	COLORS:

    GREEN: #14bf98 (buttons, icons, ... )
    CORAL ORANGE: #FF7F50 (error messages, buttons)
    CORAL ORANGE: #ff774580 (backgrounds, highlights)
    LIGHT GRAY: #dfe5ec (basics text)
    LIGHT GRAY: #f5f2f2 (basics backgrounds)
    DARK GRAY: #787976 (text)
    DARK GRAY: #113448 (backgrounds nav, footer, ...)
    BLACK: #153e52 (backgrounds)
    BLACK: #484a46 (main text, headings)
---------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ---------------------------------
    1. BASICS

    main
    header
    body
    footer
    p
    li, ul
    h1-h6
    text
    .selected
    a
    mark
    img
--------------------------------- */

main {
    margin-top: 1em;
}

@media (min-width: 1030px) {
    main {
        margin-top: 1.4em;
    }
}

body, html, header {
    width: 100%;
    height: 100%;
}

header {
    background-size: cover;
    background-image: url(/Content/Images/header_bg.jpg);
    max-height: 416px;
    opacity: 0.9;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    header {
        background-position: center;
    }
}

body {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
}

body, p {
    color: #787976;
    font: 400 1rem/1.5625rem "Open Sans", sans-serif;
}

footer {
    padding-top: 1rem;
    background-color: #113448;
}

    footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, footer p, footer a {
        color: #fff;
    }

    footer p {
        font-size: 0.85rem;
    }

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

    ul li {
        align-items: flex-start;
        display: flex;
    }

    ul .bullet {
        color: #14bf98;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.55rem;
    }

    ul .body {
        margin-left: 0.85em;
        margin-bottom: 1rem;
    }

h1, h2, h3, h4, h5, h6 {
    color: #484a46;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
    color: #14bf98;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 0.4rem;
}

h6 {
    font-size: 0.9rem;
}

p {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0.2rem;
    margin-top: 0;
}

.p-large {
    margin-bottom: 0.25rem;
    color: #484a46;
    font: 700 1rem/1.5rem "Montserrat", sans-serif;
    text-align: center;
}

.p-small {
    font: 400 0.9rem/1.375rem "Montserrat", sans-serif;
    font-weight: 700;
}

.p-heading {
    text-align: center;
    padding: 1.5em;
    color: #eeeeeee6;
    font: 400 1.12rem/1.7rem "Montserrat", sans-serif;
}

    .p-heading::after {
        content: "";
        background-color: lightgray;
        opacity: 0.35;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        border-radius: 0.25em;
    }

.no-trim {
    white-space: pre-line;
}

.header-title {
    text-align: center;
    color: #484a46;
    padding-top: 1.5em;
}

.selected {
    color: #14bf98;
}

.text-important,
.validation-summary-errors {
    color: #FF7F50 !important;
}

.text-center {
    text-align: center;
}

.center {
    text-align: center;
    justify-content: center;
    margin: auto;
}

.small {
    max-width: 40px;
}

.items-right {
    float: right;
    margin-left: auto !important;
}

a {
    color: #787976;
    text-decoration: none;
    display: inline-block;
}

    a:hover {
        color: #14bf98;
    }

mark {
    border-radius: 3px;
    color: #787976;
    background-color: #ff774580;
    padding: 0;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

img {
    vertical-align: middle;
    border-style: none;
}

.section-title {
    color: #14bf98;
    font: 500 0.8125rem/1.125rem "Montserrat", sans-serif;
    margin-bottom: 0.5rem;
}

.fadeIn {
    -webkit-animation: fadeIn 0.6s;
    animation: fadeIn 0.6s;
}

.fadeOut {
    -webkit-animation: fadeOut 0.8s;
    animation: fadeOut 0.8s;
}

.border-top {
    border-top: 1px solid #dfe5ec !important;
    padding-top: 0.5em;
    margin-top: 0.5em;
}

/* ---------------------------------
    2. BUTTONS
--------------------------------- */

button, btn, .btn {
    border-radius: 0.25rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

    button:not(.disabled) {
        cursor: pointer;
    }

    button,
    .btn:focus,
    .btn.focus {
        outline: none;
        text-decoration: none;
        box-shadow: none;
    }

.btn-white-sm,
.btn-gray-sm,
.btn-green-sm,
.btn-orange-sm {
    margin: 0.2em 0.3em 0.4em 0.2em;
    padding: 0.3125rem 1.375rem 0.25rem 1.375rem;
    font: 700 0.75rem/1.25rem "Montserrat", sans-serif;
}

.btn-orange-lg,
.btn-green-lg {
    font: 700 0.75rem/1.75rem "Montserrat", sans-serif;
    width: 100%;
    height: 2.8rem;
}

.btn-green-sm,
.btn-green-lg {
    display: inline-block;
    border: 0.125rem solid #14bf98;
    background-color: #14bf98;
    color: #fff;
}

    .btn-green-sm:hover,
    .btn-green-lg:hover {
        background-color: transparent;
        color: #14bf98;
    }

.btn-white-sm {
    border: 0.125rem solid #787976;
    background-color: transparent;
    color: #787976;
}

    .btn-white-sm:hover {
        background-color: #787976;
        color: #fff;
        text-decoration: none;
    }

.btn-gray-sm {
    background-color: #f1f4f7;
    color: #7b7e85;
    border: 0.125rem solid #f1f4f7;
}

    .btn-gray-sm:hover {
        background-color: #787976;
        color: #fff;
    }

.btn-orange-lg,
.btn-orange-sm {
    border: 0.125rem solid #FF7F50;
    background-color: #FF7F50;
    color: #fff;
}

    .btn-orange-lg:hover,
    .btn-orange-sm:hover {
        background-color: transparent;
        color: #FF7F50;
        text-decoration: none;
    }

/* ---------------------------------
    3. ICONS
--------------------------------- */

.fa-stack-medium,
.fa-stack-large {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    color: #fff;
}

    .fa-stack-medium .hexagon, .fa-stack-large .hexagon {
        position: absolute;
        background: url('/Content/Images/Navigation/hexagon-green.svg') center center no-repeat;
    }

.fa-stack:hover .hexagon {
    background: url('/Content/Images/Navigation/hexagon-white.svg') center center no-repeat;
    background-size: 3.25rem 3.25rem;
}

.fa-stack:hover .fa-stack-1x {
    color: #14bf98;
}

.fa-stack:hover .hexagon {
    background: url('/Content/Images/Navigation/hexagon--white.svg') center center no-repeat;
}

.fa-stack-medium {
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    font-size: 2rem;
}

    .fa-stack-medium .hexagon {
        width: 6rem;
        height: 6rem;
        background-size: 6rem 6rem;
    }

.fa-stack-large {
    width: 12rem;
    height: 12rem;
    line-height: 12rem;
    font-size: 6rem;
}

    .fa-stack-large .hexagon {
        width: 12rem;
        height: 12rem;
        background-size: 12rem 12rem;
    }

.icon-top {
    margin-top: -100px;
}

.icon-input {
    cursor: pointer;
    color: #484a46;
    position: absolute;
    padding-right: 0.75em;
    position: absolute;
    top: 1em;
    right: 5px;
}

/* ---------------------------------
    4. SPINNER
--------------------------------- */

.spinner-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #113448;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 47%;
    margin: auto;
}

    .spinner > div {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: #fff;
        -webkit-animation: spinner-loading 1.4s infinite ease-in-out both;
        animation: spinner-loading 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        animation-delay: -0.16s;
    }

@-webkit-keyframes spinner-loading {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes spinner-loading {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* ---------------------------------
    5. TREEVIEW 
--------------------------------- */

.treeview {
    cursor: pointer;
    color: #484a46;
    padding-left: 1em;
    display: block;
}

    .treeview::before {
        content: '\f468';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        margin-right: 0.5em;
        color: #484a46;
    }

.treeview-down::before {
    content: '\f49e';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #787976;
}

.nested {
    display: none;
    color: #787976;
    padding-left: 2em;
}

.active {
    display: block;
}

/* ---------------------------------
    6. STEPS
--------------------------------- */

.multipleStepsNav {
    list-style: none;
    border-top: 1px solid #dfe5ec;
    border-bottom: 1px solid #dfe5ec;
    padding-top: 0.5em;
    width: 100%;
    overflow: hidden;
}

    .multipleStepsNav li {
        display: block;
        font-size: 24px;
        float: left;
        padding: 0.5em;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        margin-top: 0.6rem;
    }

        .multipleStepsNav li span {
            font-size: 11px;
            display: block;
        }

/* ---------------------------------
    7.  BACK TO TOP
--------------------------------- */

a.back-to-top {
    position: fixed;
    z-index: 999;
    right: 0.75rem;
    bottom: 0.75rem;
    display: none;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 1.875rem;
    background: #14bf98 url("/Content/Images/Navigation/up-arrow.png") no-repeat center 47%;
    background-size: 1.125rem 1.125rem;
    text-indent: -9999px;
}

a:hover.back-to-top {
    background-color: #13aa87;
}

/* ---------------------------------
    8. NAV
--------------------------------- */

nav {
    background-color: #113448;
    padding: 1em 3em;
    font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
    transition: all 0.2s;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

    nav .nav-brand {
        font: 700 2.25rem/1.5rem "Montserrat", sans-serif;
    }

        nav .nav-brand img {
            height: 0.9em;
        }

    nav ul {
        margin-left: auto !important;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        list-style: none;
        margin-top: 0.75rem;
    }

    nav li {
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

        li::before, nav li::before {
            content: none;
        }

    nav a {
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1em;
        font-family: "Montserrat", sans-serif;
        display: block;
        outline: none;
    }

        nav a:hover, nav a.active {
            color: #14bf98;
            text-decoration: none;
        }

    nav .dropdown {
        position: relative;
        display: block;
    }

        nav .dropdown:hover > .dropdown-menu {
            display: block;
            animation: fadeDropdown 0.2s;
        }

    nav .nav-flag-icon {
        text-decoration: none;
        position: relative;
        display: inline;
        padding: 0;
        padding-left: 0.2em;
    }

        nav .nav-flag-icon,
        nav .nav-flag-icon > img {
            width: 23px;
            height: 16px;
        }

    nav .dropdown-toggle:focus {
        outline: 0;
    }

    nav .dropdown-toggle::after {
        display: inline-block;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

    nav .dropdown-menu {
        position: relative;
        font-size: 1rem;
        border: none;
        width: 100%;
        background-color: #113448;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        display: none;
        box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
        border-radius: 0.25rem;
    }

    nav .dropdown-item {
        color: #fff;
        white-space: nowrap;
        padding: 0.25rem 1.5rem;
    }

        nav .dropdown-item:hover, .dropdown-item:focus {
            background-color: transparent;
        }

        nav .dropdown-item .item-text {
            font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
        }

        nav .dropdown-item:hover .item-text {
            color: #14bf98;
        }

    nav .dropdown-items-divide-hr {
        width: 95%;
        height: 1px;
        margin: 0.75rem auto 0.75rem auto;
        border: none;
        background-color: #b5bcc4;
        opacity: 0.2;
    }

    nav .nav-toggler {
        border: none;
        color: #fff;
        font-size: 1.6rem;
        background-color: transparent;
        border: none;
        margin: 0.2em;
    }

    nav button[aria-expanded='false'] .nav-toggler-awesome.fas.fa-times {
        display: none;
    }

    nav button[aria-expanded='false'] .nav-toggler-awesome.fas.fa-bars {
        display: inline-block;
    }

    nav button[aria-expanded='true'] .nav-toggler-awesome.fas.fa-bars {
        display: none;
    }

    nav button[aria-expanded='true'] .nav-toggler-awesome.fas.fa-times {
        display: inline-block;
        margin-right: 0.125rem;
    }

    nav .nav-collapse {
        flex-basis: 100%;
        flex-grow: 1;
    }

.nav-name {
    display: none;
    font: 400 0.9rem/1.375rem "Montserrat", sans-serif;
    font-weight: 700;
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

nav .fa-stack .fa-stack-1x {
    font-size: 0.85em;
    line-height: 2.5em;
    color: #fff;
    transition: all 0.2s ease;
}

nav .fa-stack .hexagon {
    position: absolute;
    height: 1.95em;
    width: 1.95em;
    background: url(/Content/Images/Navigation/hexagon-green.svg) center center no-repeat;
}

nav .fa-stack:hover .hexagon {
    background: url('/Content/Images/Navigation/hexagon-white.svg') center center no-repeat;
    background-size: 2em;
}

nav .fa-stack:hover .fa-stack-1x {
    color: #14bf98;
}

@media (min-width: 643px) {
    .nav-name {
        display: contents;
    }
}

@media (min-width: 1030px) {

    nav ul {
        -ms-flex-direction: row;
        flex-direction: row;
    }

        nav ul li {
            margin-top: auto;
            margin-bottom: auto;
        }

            nav ul li .dropdown-menu {
                position: absolute;
                min-width: 6rem;
                width: auto;
            }

            nav ul li:last-child .dropdown-menu {
                right: 0;
                left: auto;
            }

                nav ul li:last-child .dropdown-menu a {
                    margin-top: 0.3em;
                }

        nav ul a {
            padding: 0.5rem 0.5rem;
        }

    nav .nav-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        flex-basis: auto;
    }

    nav .nav-toggler {
        display: none;
    }

    nav .dropdown-item {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    nav .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        text-align: left;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    .collapsing {
        transition: none;
    }
}

/* ---------------------------------
    9. FORMS
--------------------------------- */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/Content/Images/Navigation/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
    border-radius: 0.25rem;
    padding: 0.35em;
}

    select::-ms-expand {
        display: none;
    }

    select :hover {
        background-color: #113448;
    }

    select option {
        cursor: pointer;
    }

fieldset {
    width: 100%;
    position: relative;
    border: none;
    padding: 0;
    margin: 0.4em 0em;
}

    fieldset a {
        margin-right: 1.2em;
        margin-top: 0.7em;
    }

    fieldset span,
    fieldset .validation-summary-errors,
    .text-errors {
        color: #FF7F50 !important;
    }

    fieldset > select {
        height: 3rem;
    }

    fieldset short-select {
        max-width: 250px
    }

    fieldset > label {
        position: absolute;
        top: 0.8125rem;
        left: 1.375rem;
        color: #787976;
        font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
        cursor: text;
        transition: all 0.2s ease;
    }

    fieldset input:focus ~ label,
    fieldset input.notEmpty ~ label,
    fieldset textarea:focus ~ label,
    fieldset textarea.notEmpty ~ label {
        top: 0.125rem;
        opacity: 1;
        font-size: 0.75rem;
        font-weight: 500;
    }

    fieldset input,
    fieldset textarea {
        padding-top: 1.25rem;
        padding-bottom: 0.25rem;
    }

        fieldset input[type='checkbox'] {
            vertical-align: -15%;
            margin-right: 0.375rem;
            cursor: pointer;
        }

    fieldset input,
    fieldset select,
    fieldset textarea {
        width: 100%;
        padding-left: 1.3125rem;
        border: 1px solid #dadada;
        border-radius: 0.25rem;
        background-color: #fff;
        color: #787976;
        font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
        transition: all 0.2s;
    }

input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus {
    border: 1px solid #a1a1a1;
    outline: none;
}

.form-check {
    padding-top: 1rem;
}

.highlight input,
.highlight label {
    border-color: #113448;
    color: #113448;
}

.divider {
    border-top: 2px solid lightgray;
}

/* 
    FOR INSERTING HIGLIGHTS BEHIND QUERY
    QUERY FORM
*/

.query {
    transform: translateZ(0);
    width: 100%;
    height: 100%;
}

    .query .query-back,
    .query .query-main {
        position: absolute;
        z-index: 1;
        overflow: auto;
        transition: transform 1s;
        width: 100%;
        height: 100%;
        border: 1px solid #dadada;
        border-radius: 0.25rem;
        background-color: #fff;
        padding-left: 50px;
        font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
    }

        .query .query-back:focus,
        .query .query-main:focus {
            border: 1px solid #a1a1a1;
            outline: none;
        }

    .query .query-back {
        z-index: 1;
        pointer-events: none;
    }

    .query .query-highlights {
        white-space: pre-wrap;
        word-wrap: break-word;
        white-space: pre;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 2px;
        color: #787976;
    }

    .query .query-main {
        z-index: 2;
        background-color: transparent;
        resize: none;
        white-space: pre;
        color: #0000001f;
    }

    .query .lines-wrapper {
        height: 100%;
        position: absolute;
        width: 46px;
        overflow: hidden;
        border-right: 1px solid #c0c0c0;
        z-index: 2;
    }

    .query .lines {
        width: 39px;
    }

        .query .lines .line {
            text-align: right;
            font-size: 0.65rem;
            line-height: 1.375rem;
        }

    .query span.error {
        color: #FF7F50;
    }

@supports (-webkit-touch-callout: none) {
    .query-highlights {
        padding-left: 3px;
        padding-right: 3px;
    }
}

/* VERTICAL GROUP */

.vertical-group {
    margin-bottom: 0.5rem;
}

    .vertical-group .name,
    .vertical-group label {
        display: block;
        font-weight: bold;
        font-size: 0.75em;
        line-height: normal;
    }

    .vertical-group .text {
        font-size: 0.9em;
    }

/* ---------------------------------
    10. CONTAINERS
--------------------------------- */

.container {
    padding-top: 1rem;
    width: 100%;
    border-radius: 0.25em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.container-center {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 90vh;
}

    .container-center::before {
        display: block;
        position: absolute;
        z-index: -1;
        opacity: 0.9;
    }

.container-white,
.container-black,
.container-gray,
.container-darkgray {
    padding: 0.7em;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.25em;
}

.container-darkgray {
    background-color: #eee;
}

.container-gray {
    background-color: #eeeeee82;
}

.container-black {
    background-color: #153e52;
}

    .container-black h1,
    .container-black h2,
    .container-black h3,
    .container-black h4,
    .container-black h5,
    .container-black h6,
    .container-black p,
    .container-black a,
    .container-black .ui-datepicker-trigger {
        color: #fff;
    }

    .container-black label {
        color: #fff;
    }

    .container-black fieldset input,
    .container-black select {
        border: 1px solid #39728f;
        background-color: #2a5d77;
        color: #fff;
        cursor: pointer;
    }

    .container-black textarea {
        border: 1px solid #39728f;
        background-color: #2a5d77;
        color: #fff;
    }

        .container-black fieldset input:focus,
        .container-black fieldset input:hover,
        .container-black select:focus,
        .container-black select:hover,
        .container-black textarea:focus,
        .container-black textarea:hover {
            border: 1px solid #fff;
        }

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* ---------------------------------
    11. ROW + COLUMNS 
--------------------------------- */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
}

@media (min-width: 768px) {

    .col-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* ---------------------------------
    12. TOOLTIP 
--------------------------------- */

.tooltip {
    color: #113448;
    font-weight: 510;
    margin-right: 0.2em;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 15em;
        background-color: #113448;
        color: #fff;
        text-align: center;
        padding: 0.2rem;
        border-radius: 0.25rem;
        position: absolute;
        font-size: 0.9rem;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

/* ---------------------------------
    13. PANELS
--------------------------------- */

.panel {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.2em;
    border-radius: 0.25rem;
    margin-bottom: 0.4em;
}

    .panel .panel-body,
    .panel-full .panel-body,
    .panel-medium .panel-body {
        overflow: auto;
    }

    .panel .panel-bottom,
    .panel-medium .panel-bottom {
        bottom: 0.2em;
        margin-top: auto;
        position: absolute;
        display: block;
        width: 98%;
    }

.panel-medium {
    height: 71.2vh;
    border: 1px solid #14bf98;
    margin-top: 100px;
    position: relative;
    margin-bottom: 0.25em;
}

.panel-full {
    height: 84.4vh;
    border-radius: 0.25rem;
}

    .panel-full .panel-body {
        height: 93.5%;
    }

    .panel-full .tabs {
        height: 100%;
        display: block;
        position: relative;
    }

        .panel-full .tabs .tab-content {
            height: calc(100% - 37px);
            display: block;
        }

.panel-primary {
    border: 1px solid #14bf98;
}

.panel-overflow {
    overflow: auto;
}

/* ---------------------------------
    14. TABS
--------------------------------- */

.tabs a {
    border-radius: 0.25rem;
    color: #9da3a5;
    font: 300 1.2rem/1.4rem "Montserrat", sans-serif;
    padding: 0.2em 0.4em;
}

    .tabs a .fa,
    .tabs a .fas {
        margin-right: 0.125rem;
        font-size: 0.875rem;
        vertical-align: 20%;
    }

.tabs .tab-content {
    overflow: auto;
}

.tabs .tab-pane {
    height: 98%;
}

    .tabs .tab-pane .tab-title {
        height: 8%;
        padding: 0.2em;
    }

    .tabs .tab-pane .tab-body {
        display: block;
        height: 90%;
        overflow: auto;
        width: 100%;
    }

.tabs .tab-content > .tab-pane {
    display: none;
}

.tabs .tab-content > .active {
    display: block;
}

.tabs .nav-tabs-top {
    margin-bottom: 0.1em;
    border-bottom: none;
    border-top: 1px solid #dfe5ec;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
}

    .tabs .nav-tabs-top li {
        margin-top: -1px;
    }

    .tabs .nav-tabs-top a.active, ulli.show a {
        border: 1px solid transparent;
        border-bottom-color: rgb(222, 226, 230);
        border-right-color: rgb(222, 226, 230);
        border-top-color: rgb(255, 255, 255);
        border-left-color: rgb(222, 226, 230);
    }

/* ---------------------------------
    15. SCROLLER
--------------------------------- */

:: -webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: #e9ecef;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    border-radius: 6px;
    background-color: #e9ecef;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: #484a46;
}

/* ---------------------------------
    16. RESIZING DUO
--------------------------------- */

.resize-duo {
    flex-direction: column;
}

    .resize-duo .member-1 {
        height: 79.91%;
        max-height: 90%;
    }

    .resize-duo .member-2 {
        height: 18.91%;
        min-height: 30px;
        flex: 1;
    }

    .resize-duo .handler {
        width: 100%;
        height: 7px;
        padding: 0;
        cursor: ns-resize;
    }

        .resize-duo .handler::before {
            content: '';
            display: block;
            width: 100px;
            height: 100%;
            background: #FF7F50;
            float: right;
        }

/* ---------------------------------
    17. TIMELINE
--------------------------------- */

.timeline {
    margin: 1em 0em;
    overflow-y: auto;
    overflow-x: hidden;
    height: 55%;
}

    .timeline ul {
        padding: 0;
        margin-bottom: 0;
        list-style: none;
        position: relative;
    }

        .timeline ul::before {
            content: ' ';
            height: -webkit-fill-available;
            width: 1px;
            position: absolute;
            left: 0.35em;
            background-color: #dfe5ec;
        }

    .timeline li div {
        display: inline-block;
    }

    .timeline .bullet {
        width: 0.75em;
        height: 0.71em;
        box-sizing: border-box;
        border-radius: 50%;
        z-index: 1;
        margin-right: 1em;
        border: 2px solid #dfe5ec;
        background-color: #dfe5ec;
        position: relative;
        margin-top: 1em;
    }

    .timeline .time {
        width: 20%;
        color: #dfe5ec;
        font-size: 0.75em;
        color: #dfe5ec;
        margin: 0;
    }

    .timeline .desc {
        width: 95%;
        margin-left: 2.2em;
    }

@media (min-width: 768px) {
    .timeline {
        height: 76%;
    }
}

/* ---------------------------------
    18. TABLES
--------------------------------- */

table {
    border-collapse: collapse;
    width: 100% !important;
    margin-bottom: 1rem;
}

    table thead th {
        color: #484a46;
        background-color: #eee;
        outline: none;
        vertical-align: middle;
        border-bottom: 2px solid #dfe5ec;
        padding: 0.45em;
    }

    table th,
    table td {
        padding: 0.3rem;
        vertical-align: top;
        border-top: 1px solid #dfe5ec;
        font-size: 0.9em;
    }

    table .selected-row {
        font-weight: bold;
        color: #484a46;
        background-color: #e2e2e221;
    }

    table fieldset {
        width: 95%;
        margin: 0em;
    }

        table fieldset input {
            padding-top: 0.9rem;
            padding-bottom: 0.1rem;
            padding-left: 0.25rem;
        }

            table fieldset input:focus ~ label,
            table fieldset label {
                top: 0;
                left: 0.25rem;
            }

        table fieldset select {
            height: 2.5rem;
        }

    table input {
        /* max-width: 90%;*/
        border-radius: 0.25rem;
        border: 1px solid #dadada;
        border-radius: 0.25rem;
        color: #787976;
        font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
    }

.clickable-table tbody {
    cursor: pointer;
}

    .clickable-table tbody tr:not(.details):hover td {
        background-color: #e2e2e221;
        font-weight: bold;
        color: #484a46;
    }

.table-with-ID .ID {
    display: none;
}

.ui-sortable {
    cursor: grab;
}

/* ---------------------------------
    19. MODAL DIALOG
--------------------------------- */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
    outline: 0;
}

    .modal .panel-full {
        height: 73.4vh;
    }

    .modal .modal-dialog {
        position: relative;
        width: 90%;
        pointer-events: none;
    }


    .modal .modal-dialog-large {
        width: 94%;
        max-width: 1080px;
    }

    .modal .modal-dialog-tiny {
        width: 13em;
    }

        .modal .modal-dialog-tiny .modal-header {
            padding: 0.3rem;
            font-size: 1rem;
        }

        .modal .modal-dialog-tiny .modal-footer {
            padding: 0.2em;
        }


        .modal .modal-dialog-tiny .modal-body {
            font-size: 0.9rem;
        }

        .modal .modal-dialog-tiny button {
            padding: 0.2rem;
        }

        .modal .modal-dialog-tiny fieldset input {
            padding-top: 1rem;
            padding-bottom: 0.2rem;
        }

            .modal .modal-dialog-tiny fieldset input:focus ~ label,
            .modal .modal-dialog-tiny fieldset label {
                top: 0;
            }

        .modal .modal-dialog-tiny ul {
            margin: 0;
        }

    .modal .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 1.75rem auto;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
    }

    .modal .modal-header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dfe5ec;
    }

        .modal .modal-header .close {
            padding: 1rem 1rem;
            margin: -1rem -1rem -1rem auto;
            background-color: transparent;
            border: 0;
            color: #787976;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-size: 1.5rem;
            font-weight: 700;
        }

            .modal .modal-header .close :hover {
                color: #113448;
            }

        .modal .modal-header h4 {
            margin-bottom: 0;
            line-height: 1.5;
        }

    .modal .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem;
    }

    .modal .modal-footer {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        border-top: 1px solid #dfe5ec;
        padding-top: 0.7em;
    }

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

    .modal-backdrop.show {
        opacity: 0.5;
    }

.fade {
    transition: opacity 0.15s linear;
}

    .fade:not(.show) {
        opacity: 0;
    }

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

@media (min-width: 1065px) {
    .modal-dialog-small {
        max-width: 25%;
    }

    .modal-dialog {
        max-width: 55%;
    }
}

@media (min-width: 790px) {
    .modal-dialog {
        max-width: 70%;
    }

    .modal-dialog-small {
        max-width: 35%;
    }
}

@media (min-width: 350px) {
    .modal-dialog {
        margin: 1.75rem auto;
        width: 86%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
}

/* ---------------------------------
    20. HIDE / SHOW ELEMENT
--------------------------------- */

.hide {
    display: none;
}

.hideAndShowElement {
    margin-top: 0.3em;
    transition: opacity 1s;
}

    .hideAndShowElement .hide {
        opacity: 0;
    }
