﻿@model GeneratorOfReports.ViewModels.HelpCenterViewModel
@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Global_HelpCenter; }

<!-- BEGIN HELP CENTER -->
<div class="container-gray container-center">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="section-title">
                    @GeneratorOfReports.Resources.Translation.Global_HelpCenter
                </div>
                <h2>
                    @GeneratorOfReports.Resources.Translation.HelpCenter_Title
                </h2>
                <p>
                    @GeneratorOfReports.Resources.Translation.HelpCenter_FullText
                </p>
                <p>
                    <span class="fas fa-phone"></span>
                    <a href="tel:003024630820">+81 720 22 128</a>
                </p>
                <p>
                    <span class="fas fa-envelope"></span>
                    <a href="mailto:OG.GeneratorOfReports@gmail.com">OG.GeneratorOfReports@gmail.com</a>
                </p>
            </div>

            <div class="col-6">
                @using (Html.BeginForm("HelpCenter", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <!-- EMAIL -->
                    <fieldset>
                        @Html.EditorFor(model => model.Email)
                        @Html.LabelFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </fieldset>

                    <!-- SUBJECT -->
                    <fieldset>
                        @Html.EditorFor(model => model.Subject)
                        @Html.LabelFor(model => model.Subject)
                        @Html.ValidationMessageFor(model => model.Subject)
                    </fieldset>

                    <!-- MESSAGE -->
                    <fieldset>
                        @Html.TextAreaFor(model => model.Message)
                        @Html.LabelFor(model => model.Message)
                        @Html.ValidationMessageFor(model => model.Message)
                    </fieldset>

                    <!-- SUBMIT BUTTON -->
                    <button type="submit" class="btn-green-lg">
                        @GeneratorOfReports.Resources.Translation.Account_Login
                    </button>
                }
            </div>
        </div>
    </div>
</div>
<!-- END HELP CENTER -->