﻿@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Global_Home; }

<!-- BEGIN HOME PAGE -->
<!-- BEGIN HEADER -->
<header class="container-center">
    <div class="container">
        <div class="col-6">
            <h2 class="header-title">@GeneratorOfReports.Resources.Translation.Global_ReportingTool</h2>
            <p class="p-heading">@GeneratorOfReports.Resources.Translation.Gobal_Header_Title</p>
        </div>
    </div>
</header>
<!-- END HEADER -->
<!-- BEGIN DESCRIPTION -->
<section class="cointainer-white">
    <div class="container">
        <div class="section-title">@GeneratorOfReports.Resources.Translation.Global_Instructions</div>
        <h2>@GeneratorOfReports.Resources.Translation.Global_Title </h2>
        <p>@GeneratorOfReports.Resources.Translation.Description_FullText</p>
        <p>@GeneratorOfReports.Resources.Translation.Description_Process</p>
    </div>
</section>
<!-- END DESCRIPTION -->
<!-- BEGIN CARDS -->
<div class="container-gray">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="panel text-center">
                    <span class="fas fa-cogs selected fa-5x"></span>
                    <p>@GeneratorOfReports.Resources.Translation.Global_Functionality_Description</p>
                    <p class="p-large">@GeneratorOfReports.Resources.Translation.Global_Functionality</p>
                </div>
            </div>
            <div class="col-4">
                <div class="panel text-center">
                    <span class="fas fa-coffee fa-5x selected"></span>
                    <p>@GeneratorOfReports.Resources.Translation.Global_Comfort_Description</p>
                    <p class="p-large">@GeneratorOfReports.Resources.Translation.Global_Comfort</p>
                </div>
            </div>
            <div class="col-4">
                <div class="panel text-center">
                    <span class="fas fa-comments fa-5x selected"></span>
                    <p>@GeneratorOfReports.Resources.Translation.Global_Clarity_Description</p>
                    <p class="p-large">@GeneratorOfReports.Resources.Translation.Global_Clarity</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CARDS -->
<!-- END HOME PAGE -->