﻿@model GeneratorOfReports.ViewModels.SearchAuditsViewModel

<div class="panel-full container-black">
    <div class="section-title">@GeneratorOfReports.Resources.Translation.Global_Filter</div>
    <h2>@GeneratorOfReports.Resources.Translation.Account_Actions_History</h2>
    <div class="row">
        <!-- DATE FROM -->
        <fieldset class="col-4">
            @Html.EditorFor(model => model.ActionDateFrom, new { htmlAttributes = new { @class = "fromDatepicker", value = Model.ActionDateFrom.HasValue ? Model.ActionDateFrom.Value.ToString("MM/dd/yyyy") : string.Empty, autocomplete = "off", id = "dateFrom" } })
            <label>@GeneratorOfReports.Resources.Translation.Global_DateFrom</label>
            @Html.ValidationMessageFor(model => model.ActionDateFrom)
        </fieldset>
        <!-- DATE TO -->
        <fieldset class="col-4">
            @Html.EditorFor(model => model.ActionDateTo, new { htmlAttributes = new { @class = "toDatepicker", value = Model.ActionDateTo.HasValue ? Model.ActionDateTo.Value.ToString("MM/dd/yyyy") : string.Empty, autocomplete = "off", id = "dateTo" } })
            <label>@GeneratorOfReports.Resources.Translation.Global_DateTo</label>
            @Html.ValidationMessageFor(model => model.ActionDateTo)
        </fieldset>
        <!-- TYPE OF ACTION -->
        <fieldset class="col-4">
            @if (Model != null && Model.Actions != null)
            {
                @Html.DropDownListFor(model => model.Action, new SelectList(Model.Actions, "Value", "Text"), GeneratorOfReports.Resources.Translation.Global_Select, new { @id = "actionId" })
            }
        </fieldset>
    </div>
    <div class="timeline" id="timeline">
        @{Html.RenderPartial("Tables/_AuditsTable", Model.AuditsViewModel);}
        <div class="row center">
            <div id="loadingAudits">
                <i class='fa fa-spinner fa-spin'></i> @GeneratorOfReports.Resources.Translation.Global_Loading
            </div>
        </div>
    </div>
</div>