﻿@model GeneratorOfReports.ContextManagement.Database

@if (Model != null)
{
    <!-- BEGIN SELECTED DATABASE NAME -->
    <h5 class="col-12">
        <span class='fa fa-database'></span>
        <label id="DBName">@Model.Name</label>
    </h5>
    <!-- END SELECTED DATABASE NAME -->
    <!-- BEGIN DB STRUCTURE -->
    <ul>
        @foreach (var table in Model.Tables)
        {
        <li class="treeview">
              @table
        </li>
        }
    </ul>
    <!-- END DB STRUCTURE -->
}