﻿@model GeneratorOfReports.ViewModels.ParameterViewModel

<!-- BEGIN PARAMETER -->
<div class="border-top">
    <h6>@GeneratorOfReports.Resources.Translation.Query_Parameter</h6>
    <div class="row">
        <!-- NAME -->
        <div class="col-4 vertical-group">
            @Html.LabelFor(model => model.Name)
            @Html.DisplayTextFor(model => model.Name)
        </div>
        <!-- REQUIRED -->
        <div class="col-4 vertical-group">
            @Html.LabelFor(model => model.Required)
            @Html.DisplayTextFor(model => model.RequiredWord)
        </div>
        <!-- TYPE -->
        <div class="col-4 vertical-group">
            @Html.LabelFor(model => model.Type)
            @Html.DisplayTextFor(model => model.Type)
        </div>
    </div>
    <div class="row">
        <!-- DEFAULT VALUE -->
        <div class="col-4 vertical-group">
            @Html.LabelFor(model => model.DefaultValue)
            @Html.DisplayTextFor(model => model.DefaultValue)
        </div>
        <!-- DESCRIPTION -->
        <div class="col-8 vertical-group">
            @Html.LabelFor(model => model.Description)
            @Html.DisplayTextFor(model => model.Description)
        </div>
    </div>
</div>
<!-- END PARAMETER -->
