﻿@model GeneratorOfReports.ViewModels.QueryDetailsViewModel

<!-- BEGIN BASICS SETTINGS -->
<div class="divider">
    @Html.HiddenFor(model => model.Query.ID)
    <h5>@GeneratorOfReports.Resources.Translation.Global_BasicsSettings</h5>
    <div class="row">
        <!-- NAME -->
        <div class="col-6 vertical-group">
            @Html.LabelFor(model => model.Query.Name)
            @Html.DisplayTextFor(model => model.Query.Name)
        </div>
        <!-- DATABASE -->
        <div class="col-6 vertical-group">
            @Html.LabelFor(model => model.Query.Database)
            @Html.DisplayTextFor(model => model.Query.Database)
        </div>
    </div>
    <div class="row">
        <!-- VALID -->
        <div class="col-6 vertical-group">
            @Html.LabelFor(model => model.Query.Valid)
            @Html.DisplayTextFor(model => model.Query.ValidWord)
        </div>
        <!-- TIME CREATE -->
        <div class="col-6 vertical-group">
            @Html.LabelFor(model => model.Query.TimeCreate)
            @Html.DisplayTextFor(model => model.Query.TimeCreate)
        </div>
    </div>
    <!-- DESCRIPTION -->
    <div class="row col-12">
        <div class="vertical-group">
            @Html.LabelFor(model => model.Query.Description)
            @Html.DisplayTextFor(model => model.Query.Description)
        </div>
    </div>
    <!-- QUERY -->
    <div class="row col-12">
        <div class="vertical-group">
            @Html.LabelFor(model => model.Query.Text)
            <p class="no-trim">@Html.DisplayTextFor(model => model.Query.Text)</p>
        </div>
    </div>
</div>
<!-- END BASICS SETTINGS -->
<!-- BEGIN PARAMETER SETTING -->
<div class="divider">
    <h5>@GeneratorOfReports.Resources.Translation.Query_Parameters</h5>
    @if (Model != null && Model.Parameters.Any())
    {
        foreach (var parameter in Model.Parameters)
        {
            Html.RenderPartial("Parts/_ParameterDetails", parameter);
        }
    }
    else
    {
        <p>@GeneratorOfReports.Resources.Translation.Query_Parameter_None</p>
    }
</div>
<!-- END PARAMETER SETTING -->

@if (Model != null && Model.CanEdit)
{
    <!-- BEGIN AUTHORIZATION -->
    <section id="authorizationTableSection" data-url="/Query/LoadQueryAuthorizationTableData" class="divider">
        <h5>@GeneratorOfReports.Resources.Translation.Global_Authorization</h5>
        @{Html.RenderPartial("Parts/_AuthorizationDetails");}
    </section>
    <!-- END AUTHORIZATION -->
    <div class="row border-top">
        <div class="items-right">
            <!-- EDIT BUTTON -->
            <a href="/Query/Edit?ID=@Model.Query.ID" class="btn btn-white-sm">
                @GeneratorOfReports.Resources.Translation.Global_Edit
                <span class="fa fa-edit"></span>
            </a>
        </div>
    </div>
}
