﻿@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.User_Overview; }

<!-- BEGIN USERS OVERVIEW -->
<section id="usersOverview">
    <!-- BEGIN USERS FILTERS -->
    <div class="container-white">
        <div class="container">
            <h1>@GeneratorOfReports.Resources.Translation.User_Overview</h1>
            <div class="row border-top">
                <!-- TOGGLE FILTERS BUTTON -->
                <button class="btn btn-white-sm hideShowToggler">
                    @GeneratorOfReports.Resources.Translation.Global_Search
                    <span class="fa fa-chevron-down icon-show"></span>
                    <span class="fa fa-caret-down icon-hide hide"></span>
                </button>
                <!-- CREATE USER BUTTON -->
                <div class="items-right">
                    <button class="btn btn-orange-sm" onclick="openCreateUserModal()">
                        @GeneratorOfReports.Resources.Translation.User_Create
                        <span class="fa fa-plus"></span>
                    </button>
                </div>
            </div>
            <!-- BEGIN HIDE AND SHOW ELEMENT -->
            <div class="hideAndShowElement hide border-top">
                @{Html.RenderPartial("Forms/_UserSearchForm", new GeneratorOfReports.ViewModels.UserViewModel());}
            </div>
            <!-- END HIDE AND SHOW ELEMENT -->
            <!-- END USERS FILTERS -->
            <!-- BEGIN USERS TABLE PARTIAL -->
            <div class="border-top">
                <div class="container">
                    @{Html.RenderPartial("Tables/_UsersTable");}
                </div>
            </div>
            <!-- END USERS TABLE PARTIAL -->
        </div>
    </div>
</section>
<!-- END USERS OVERVIEW -->
<!-- BEGIN EDIT USER MODAL -->
<div id="userEditSection">
</div>
<!-- END EDIT USER MODAL -->
<!-- BEGIN USER DETAILS MODAL -->
<div id="userDetailsSection">
</div>
<!-- END USER DETAILS MODAL -->
<!-- BEGIN CREATE USER MODAL -->
<div id="userCreateSection">
</div>
<!-- END CREATE USER MODAL -->

@section Scripts {
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/user/overview")
    @Scripts.Render("~/Scripts/Custom/User/search.js")
}