﻿@model GeneratorOfReports.ViewModels.UserDetailsViewModel
@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Account_Profile; }

<!-- BEGIN PROFILE -->
<div class="container">
    <div class="row">
        <!-- BEGIN USER INFORMATION -->
        <section class="col-4">
            <!-- BEGIN PANEL -->
            <div class="panel panel-medium">
                <div class="fa-stack-large icon-top">
                    <span class="hexagon"></span>
                    <i class="fa fa-user fa-stack-1x"></i>
                </div>
                <!-- BEGIN PANEL TITLE -->
                <h5 class="text-center">
                    <!-- TITLE + FIRST NAME + SURNAME -->
                    @Model.User.Title @Model.User.FirstName @Model.User.Surname
                </h5>
                <!-- END PANEL TITLE -->
                <!-- BEGIN PANEL BODY -->
                <div class="panel-body">
                    <div class="row">
                        <!-- BEGIN LOGIN -->
                        <div class="col-6 vertical-group">
                            <div class="name">
                                @Html.LabelFor(model => Model.User.Login)
                            </div>
                            <div class="text">
                                @Model.User.Login
                            </div>
                        </div>
                        <!-- END LOGIN -->
                        <!-- BEGIN PERSONAL NUMBER -->
                        <div class="col-6 vertical-group">
                            <div class="name">
                                @GeneratorOfReports.Resources.Translation.User_PersonalNumber
                            </div>
                            <div class="text">
                                @Model.User.PersonalNumber
                            </div>
                        </div>
                        <!-- END PERSONAL NUMBER -->
                    </div>
                    <div class="row">
                        <!-- BEGIN DATE OF BIRTH -->
                        <div class="col-6 vertical-group">
                            <div class="name">
                                @Html.LabelFor(model => Model.User.DateOfBirth)
                            </div>
                            @{if (Model.User.DateOfBirth != null)
                                {
                                    <div class="text">
                                        @Model.User.DateOfBirth.Value​.ToShortDateString()
                                    </div>
                                }
                            }
                        </div>

                        <!-- END DATE OF BIRTH -->
                        <!-- BEGIN PHONE NUMBER -->
                        <div class="col-6 vertical-group">
                            <div class="name">
                                @GeneratorOfReports.Resources.Translation.User_PhoneNumber
                            </div>
                            <div class="text">
                                @Model.User.PhoneNumber
                            </div>
                        </div>
                        <!-- END PHONE NUMBER -->
                    </div>
                    <div class="row">
                        <!-- BEGIN EMAIL -->
                        <div class="col-6 vertical-group">
                            <div class="name">
                                @Html.LabelFor(model => Model.User.Email)
                            </div>
                            <div class="text">
                                @Model.User.Email
                            </div>
                        </div>
                        <!-- END EMAIL -->
                    </div>
                    <!-- BEGIN ROLES AND COMPANIES -->
                    <table>
                        <thead>
                            <tr>
                                <th>@GeneratorOfReports.Resources.Translation.User_Locality</th>
                                <th>@GeneratorOfReports.Resources.Translation.User_Roles</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (KeyValuePair<GeneratorOfReports.Models.Locality, List<GeneratorOfReports.Models.Role>> duo in Model.User.LocalityWithRolesDict)
                            {
                                <tr>
                                    <td>@duo.Key.Name</td>
                                    <td>
                                        @foreach (var role in duo.Value)
                                        {
                                            @role.Name <br />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- END ROLES AND COMPANIES -->
                </div>
                <!-- END PANEL BODY -->
                <!-- BEGIN PANEL BOTTOM -->
                <div class="panel-bottom">
                    <!-- EDIT PROFILE BUTTON -->
                    <button class="btn btn-orange-lg" data-toggle="modal" data-target="#editProfileModal" title="Open dialog for editing user profile">
                        @GeneratorOfReports.Resources.Translation.User_EditProfile
                    </button>
                </div>
                <!-- END PANEL BOTTOM -->
            </div>
            <!-- END PANEL -->
        </section>
        <!-- END USER INFORMATION -->
        <!-- BEGIN HISTORY OF ACTIONS -->
        <section class="col-8">
            @{Html.RenderPartial("Parts/_Audits", Model.SearchAuditsViewModel);}
        </section>
        <!-- END HISTORY OF ACTIONS -->
    </div>
</div>
<!-- END PROFILE -->
<!-- BEGIN EDIT PROFILE MODAL -->
<div id="editProfileSection">
    @{Html.RenderPartial("Modals/_EditProfileModal", Model.EditUser);}
</div>
<!-- END EDIT PROFILE MODAL -->

@section scripts {
    @Scripts.Render("~/Scripts/Custom/USer/audits.js")
    @Scripts.Render("~/Scripts/Custom/USer/profile.js")
}