﻿<!DOCTYPE html>
<html lang='@System.Threading.Thread.CurrentThread.CurrentCulture'>

<!-- BEGIN HEAD -->
<head>
    <title>OGreport - @ViewBag.Title</title>
    <!-- META TAGS -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="OGreport, report generator, reports, export report" />
    <meta name="author" content="Lucia Harcekova" />
    <meta name="description" content="">
    <!-- FAVICON -->
    <link rel="icon" href="~/Content/Images/favicon.png">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <!-- STYLES -->
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body data-spy="scroll" data-target=".fixed-top">

    <!-- BEGIN SPINNER -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- END SPINNER -->
    <!-- BEGIN MAIN NAVIGATION MENU -->
    <nav>

        <!-- BEGIN LOGO -->
        <a class="nav-brand" href="/Home/Home">
            <img src="~/Content/Images/logo.png" alt="logo">
            OGreport
            <span class="nav-name">(@GeneratorOfReports.Resources.Translation.Global_OGReportName)</span>
        </a>
        <!-- END LOGO -->
        <!-- BEGIN TOGGLER -->
        <button class="nav-toggler" type="button" data-toggle="collapse" data-target="#mainNavigationMenu" aria-controls="mainNavigationMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="nav-toggler-awesome fas fa-bars"></span>
            <span class="nav-toggler-awesome fas fa-times"></span>
        </button>
        <!-- END TOGGLER -->
        <!-- BEGIN COLLAPSE -->
        <div class="collapse nav-collapse" id="mainNavigationMenu">
            <ul>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole(GeneratorOfReports.Authentication.RolesConstants.REPORT_ADMIN))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="/Report/Overview" role="button" aria-haspopup="true" aria-expanded="false">
                                @GeneratorOfReports.Resources.Translation.Report_Management
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Report/Create"><span class="item-text">@GeneratorOfReports.Resources.Translation.Report_Create</span></a>
                            </div>
                        </li>
                    }
                    if (User.IsInRole(GeneratorOfReports.Authentication.RolesConstants.QUERY_ADMIN))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="/Query/Overview" role="button" aria-haspopup="true" aria-expanded="false">
                                @GeneratorOfReports.Resources.Translation.Query_Management
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Query/Create"><span class="item-text">@GeneratorOfReports.Resources.Translation.Query_Create</span></a>
                            </div>
                        </li>
                    }
                    if (User.IsInRole(GeneratorOfReports.Authentication.RolesConstants.USER_ADMIN))
                    {
                        <li>
                            <a href="/User/Overview">@GeneratorOfReports.Resources.Translation.User_Management</a>
                        </li>
                    }
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <!-- BEGIN CHANGE COMPANY -->
                    var localities = (User as GeneratorOfReports.Authentication.Principal).Localities;
                    if (localities != null && localities.Length > 0)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                <div class="fa-stack">
                                    <span class="hexagon"></span>
                                    <span class="fa fa-users fa-stack-1x"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-item">
                                    <span class="item-text selected">
                                        @((User as GeneratorOfReports.Authentication.Principal).CurrentLocality)
                                    </span>
                                </div>
                                <div class="dropdown-items-divide-hr"></div>
                                @foreach (var locality in localities)
                                {
                                    if (!locality.Equals((User as GeneratorOfReports.Authentication.Principal).CurrentLocality))
                                    {
                                        <a class="dropdown-item" href="/Account/ChangeCompany/?company=@locality" title="Change actual location">
                                            <span class="item-text">
                                                @locality
                                            </span>
                                        </a>
                                    }
                                }
                            </div>
                        </li>
                    }
                    <!-- END CHANGE COMPANY -->

                    <!-- BEGIN CHANGE ROLE -->
                    var roles = (User as GeneratorOfReports.Authentication.Principal).Roles;
                    if (roles != null && roles.Length > 0)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                <div class="fa-stack">
                                    <span class="hexagon"></span>
                                    <span class="fa fa-briefcase fa-stack-1x"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-item">
                                    <span class="item-text selected">
                                        @GeneratorOfReports.Utilities.FormattingUtility.GetRole((User as GeneratorOfReports.Authentication.Principal).CurrentRole)
                                    </span>
                                </div>
                                <div class="dropdown-items-divide-hr"></div>
                                @foreach (var role in roles)
                                {
                                    if (!role.Equals((User as GeneratorOfReports.Authentication.Principal).CurrentRole))
                                    {
                                        <a class="dropdown-item" href="/Account/ChangeRole/?role=@role" title="Change actual role">
                                            <span class="item-text">
                                                @GeneratorOfReports.Utilities.FormattingUtility.GetRole(role)
                                            </span>
                                        </a>
                                    }
                                }
                            </div>
                        </li>
                    }
                    <!-- END CHANGE ROLE -->

                    <!-- BEGIN USER MENU -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">
                            <div class="fa-stack">
                                <span class="hexagon"></span>
                                <span class="fa fa-user fa-stack-1x"></span>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/User/Profile" title="Redirect to profile">
                                <span class="item-text">@GeneratorOfReports.Resources.Translation.Account_Profile</span>
                            </a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="/Account/Logout" title="Logout account">
                                <span class="item-text">@GeneratorOfReports.Resources.Translation.Account_Logout</span>
                            </a>
                        </div>
                    </li>
                    <!-- END USER MENU -->
                }
                else
                {
                    <li>
                        <a href="/Account/Login">@GeneratorOfReports.Resources.Translation.Account_Login</a>
                    </li>
                }

                <!-- BEGIN CHANGE LANGUAGE -->
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        <img class="nav-flag-icon" src="@Url.Content("~/Content/Images/Flags/" + @System.Threading.Thread.CurrentThread.CurrentCulture + "_flag.png")" alt="czech flag">
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-flag-icon" href="@Url.Action("ChangeLanguage", "Home", new { lang = "cs", ReturnUrl = @Request.Url.ToString() })" title="Change language - CS">
                            <img src="@Url.Content("~/Content/Images/Flags/cs_flag.png")" alt="czech-flag">
                        </a>
                        <a class="nav-flag-icon" href="@Url.Action("ChangeLanguage", "Home", new { lang = "en", ReturnUrl = @Request.Url.ToString() })" title="Change language - EN">
                            <img src="@Url.Content("~/Content/Images/Flags/en_flag.png")" alt="great britain flag">
                        </a>
                        <a class="nav-flag-icon" href="@Url.Action("ChangeLanguage", "Home", new { lang = "de", ReturnUrl = @Request.Url.ToString() })" title="Change language - DE">
                            <img src="@Url.Content("~/Content/Images/Flags/de_flag.png")" alt="german flag">
                        </a>
                    </div>
                </li>
                <!-- END CHANGE LANGUAGE -->

            </ul>
        </div>
        <!-- END COLLAPSE -->

    </nav>
    <!-- END MAIN NAVIGATION MENU -->
    <!-- BEGIN BODY CONTENT -->
    <main>
        @RenderBody()
    </main>
    <!-- END BODY CONTENT -->
    <!-- BEGIN FOOTER -->
    <footer id="footer">
        <div class="col-11 center">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <h4 class="text-important">@GeneratorOfReports.Resources.Translation.Global_About</h4>
                        <p>
                            @GeneratorOfReports.Resources.Translation.Gobal_Header_Title
                        </p>
                    </div>
                    <div class="col-8">
                        <h4>
                            @GeneratorOfReports.Resources.Translation.HelpCenter_Title
                        </h4>
                        <p>
                            @GeneratorOfReports.Resources.Translation.HelpCenter_FullText
                            <br />
                            <span class="fa fa-envelope"></span>
                            <a href="/Home/HelpCenter">@GeneratorOfReports.Resources.Translation.Global_HelpCenter</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- BEGIN COPYRIGHT -->
            <div class="border-top">
                <p>
                    &copy; @DateTime.Now.Year -
                    <span class="glyphicon glyphicon-save-file"></span>
                    OGreport (@GeneratorOfReports.Resources.Translation.Global_OGReportName)
                </p>
            </div>
            <!-- END COPYRIGHT -->
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- BEGIN SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/library-effects")
    @Scripts.Render("~/bundles/custom-effects")
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/tables")
    @RenderSection("scripts", required: false)
    <!-- END SCRIPTS -->
    <!-- BEGIN NOTIFICATIONS -->
    @Html.Partial("_Notifications")
    <!-- END NOTIFICATIONS -->
</body>
<!-- END BODY -->

</html>
