﻿@using GeneratorOfReports.Utilities

<script>
    $(function () {
        @foreach (var alert in NotificationUtility.GetAll()){
            <text>toastr["@alert.Type"]("@alert.Message", "@alert.Title");</text>
        }

        @{ NotificationUtility.Clear(); }
    });
</script>