﻿@model GeneratorOfReports.ViewModels.QueryModifyViewModel
@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Query_Edit; }

<!-- BEGIN EDIT QUERY -->
<div class="container">
    <div class="row">
        <!-- BEGIN LEFT MENU -->
        <div class="col-4">
            <div class="panel panel-full">
                <!-- BEGIN TABS -->
                <div class="tabs">
                    <div class="tab-content">
                        <!-- BEGIN SELECTED DB -->
                        <div id="selectDatabase" class="tab-pane fade active show">
                            <div class="tab-title">
                                <!-- SELECT DATABASE BUTTON -->
                                <button class="btn btn-green-lg" data-toggle="modal" data-target="#selectDBModal" title="Open dialog for selecting db">
                                    @GeneratorOfReports.Resources.Translation.Query_Database_Select
                                </button>
                            </div>
                            <div id="DBStructure" class="tab-body border-top">
                                @{Html.RenderPartial("Parts/_DBStructure", Model.Database);}
                            </div>
                        </div>
                        <!-- END SELECTED DB -->
                        <!-- BEGIN QUERY HELP -->
                        <div id="queryHelp" class="tab-pane fade">
                            <h5 class="col-12">
                                @GeneratorOfReports.Resources.Translation.Query_CorrectForm
                            </h5>
                            <div class="tab-body divider col-12">

                                <h5>@GeneratorOfReports.Resources.Translation.Global_Table</h5>
                                @GeneratorOfReports.Resources.Translation.Query_CorrectForm_Table

                                <hr>

                                <h5>@GeneratorOfReports.Resources.Translation.Query_Parameters</h5>

                                <div class="vertical-group">
                                    <div class="name">
                                        @GeneratorOfReports.Resources.Translation.Parameter_Type_Positive_Int
                                    </div>
                                    <div class="text">
                                        @GeneratorOfReports.Resources.Translation.Global_Use : @@number
                                    </div>
                                </div>

                                <div class="vertical-group">
                                    <div class="name">
                                        True / False
                                    </div>
                                    <div class="text">
                                        @GeneratorOfReports.Resources.Translation.Global_Use :@@value
                                    </div>
                                </div>

                                <div class="vertical-group">
                                    <div class="name">
                                        @GeneratorOfReports.Resources.Translation.Parameter_Type_Condition_Int
                                    </div>
                                    <div class="text">
                                        @GeneratorOfReports.Resources.Translation.Global_Use : where [table].[elem] in @@condition
                                    </div>
                                </div>

                                <div class="vertical-group">
                                    <div class="name">
                                        @GeneratorOfReports.Resources.Translation.Parameter_Type_Condition_String
                                    </div>
                                    <div class="text">
                                        @GeneratorOfReports.Resources.Translation.Global_Use : where [table].[elem] in @@condition
                                    </div>
                                </div>

                                <div class="vertical-group">
                                    <div class="name">
                                        @GeneratorOfReports.Resources.Translation.Parameter_Type_Date
                                    </div>
                                    <div class="text">
                                        @GeneratorOfReports.Resources.Translation.Global_Use :  WHERE [table].[elem] @@condition
                                    </div>
                                </div>

                                <div class="vertical-group">
                                    <div class="name">
                                        @GeneratorOfReports.Resources.Translation.Parameter_Type_DateTime
                                    </div>
                                    <div class="text">
                                        @GeneratorOfReports.Resources.Translation.Global_Use : WHERE [table].[elem] @@condition
                                    </div>
                                </div>

                                <div class="vertical-group">
                                    <div class="name">
                                        @GeneratorOfReports.Resources.Translation.Parameter_Type_Enumeration
                                    </div>
                                    <div class="text">
                                        @GeneratorOfReports.Resources.Translation.Global_Use : WHERE [table].[elem] in @@condition
                                    </div>
                                </div>

                                <div class="vertical-group">
                                    <div class="name">
                                        @GeneratorOfReports.Resources.Translation.Parameter_Type_DbMultiselect
                                    </div>
                                    <div class="text">
                                        @GeneratorOfReports.Resources.Translation.Global_Use : WHERE [table].[elem] in @@condition
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END QUERY HELP -->
                    </div>
                    <ul class="nav nav-tabs-top">
                        <li>
                            <a class="active" data-toggle="tab" href="#selectDatabase">
                                @GeneratorOfReports.Resources.Translation.Query_Database
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#queryHelp">
                                @GeneratorOfReports.Resources.Translation.Global_Help
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END TABS -->
            </div>
        </div>
        <!-- END LEFT MENU -->
        <!-- BEGIN RIGHT SECTION -->
        <div class="col-8">
            <div class="panel panel-full">
                <!-- BEGIN BUTTONS -->
                <div class="row panel-title">
                    <!-- BACK BUTTON -->
                    <button id="undoQueryButton" class="btn btn-gray-sm disabled">
                        <span class='fa fa-arrow-left'></span>
                    </button>
                    <!-- FORWARD BUTTON -->
                    <button id="redoQueryButton" class="btn btn-gray-sm disabled">
                        <span class='fa fa-arrow-right'></span>
                    </button>
                    <div class="items-right">
                        <!-- TEST BUTTON -->
                        <button id="runQueryButton" class="btn btn-green-sm">
                            <span class="fa fa-play"></span>
                        </button>
                        <!-- CREATE BUTTON -->
                        <button id="editQueryButton" class="btn btn-orange-sm">
                            @GeneratorOfReports.Resources.Translation.Query_Edit
                            <span class="fa fa-check"></span>
                        </button>
                    </div>
                </div>
                <!-- END BUTTONS -->
                <!-- BEGIN RESIZE DUO -->
                <div class="panel-body resize-duo">
                    <!-- BEGIN MEMBER 1 -->
                    <div class="member-1">
                        <!-- BEGIN QUERY -->
                        <form class="query">
                            <div class="lines-wrapper">
                                <div id="queryLines" class="lines">
                                </div>
                            </div>
                            <div class="query-back">
                                <div class="query-highlights"></div>
                            </div>
                            @Html.TextAreaFor(model => model.Query.Text, new { @class = "query-main", @id = "query" })
                        </form>
                        <!-- END QUERY -->
                    </div>
                    <!-- END MEMBER 1 -->
                    <!-- BEGIN HANDLER -->
                    <div class="handler"></div>
                    <!-- BEGIN HANDLER -->
                    <!-- BEGIN MEMBER 2 -->
                    <div class="member-2">
                        <!-- BEGIN TABS -->
                        <div class="tabs">
                            <div class="tab-content resize-content b-gray">
                                <!-- BEGIN BASICS SETTINGS -->
                                <div id="basicsSettingsTab" class="tab-pane fade active show">
                                    <section id="basicsSettings">
                                        <h5>@GeneratorOfReports.Resources.Translation.Global_BasicsSettings</h5>
                                        @{ Html.RenderPartial("Forms/_QueryBasicsSettingsForm", Model.Query); }
                                    </section>
                                    <!-- BEGIN AUTHORIZATION -->
                                    <section id="authorizationTableSection" data-url="/Query/LoadQueryAuthorizationTableData" class="border-top col-12">
                                        <div class="row">
                                            <h5>@GeneratorOfReports.Resources.Translation.Global_Authorization</h5>
                                            <!-- BEGIN TOOLTIP -->
                                            <div class="tooltip">
                                                <span class="fa fa-question-circle"></span>
                                                <span class="tooltiptext">@GeneratorOfReports.Resources.Translation.Authorization_Tooltip</span>
                                            </div>
                                            <!-- END TOOLTIP -->
                                        </div>
                                        @{ Html.RenderPartial("Tables/_AuthorizationTable"); }
                                    </section>
                                    <!-- END AUTHORIZATION -->
                                </div>
                                <!-- END BASICS SETTINGS -->
                                <!-- BEGIN PARAMETER SETTING -->
                                <div id="parametersSettingsTab" class="tab-pane fade">
                                    @{ Html.RenderPartial("Tables/_ParametersTable", Model.Parameters); }
                                </div>
                                <!-- END PARAMETER SETTING -->
                                <!-- BEGIN LIST OF ERRORS -->
                                <div id="errorsWarningsTab" class="tab-pane fade">
                                    @{Html.RenderPartial("Tables/_ErrorsTable", new List<GeneratorOfReports.ContextManagement.Error>());}
                                </div>
                                <!-- END LIST OF ERRORS -->
                                <!-- BEGIN OUTPUT OF QUERY -->
                                <div id="outputTab" class="tab-pane fade">
                                    <!-- BEGIN QUERIES OUTPUT TABLE -->
                                    <table id="outputQueriesTable" class="resizable">
                                    </table>
                                    <!-- END QUERIES OUTPUT TABLE -->
                                </div>
                                <!-- END OUTPUT OF QUERY -->
                            </div>
                            <ul class="nav nav-tabs-top">
                                <li>
                                    <a class="active" data-toggle="tab" href="#basicsSettingsTab">
                                        @GeneratorOfReports.Resources.Translation.Global_BasicsSettings
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#parametersSettingsTab">
                                        @GeneratorOfReports.Resources.Translation.Query_Parameters
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#errorsWarningsTab" class="text-errors">
                                        @GeneratorOfReports.Resources.Translation.Global_Errors (<span id="numberOfErrors">0</span>)
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#outputTab">
                                        @GeneratorOfReports.Resources.Translation.Global_Output
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END TABS -->
                    </div>
                    <!-- END MEMBER 2 -->
                </div>
                <!-- END RESIZE DUO -->
            </div>
        </div>
        <!-- END RIGHT SECTION -->
    </div>
</div>
<!-- END EDIT QUERY -->

@{ Html.RenderAction("LoadSelectDatabaseModal", "Query"); }

@section scripts {
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/query/validation")
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/query/edit")
    @Scripts.Render("~/Scripts/Custom/Query/effects.js")
    @Scripts.Render("~/Scripts/Custom/Query/selectDB.js")
    @Scripts.Render("~/Scripts/Custom/Query/parameters.js")
    @Scripts.Render("~/Scripts/Custom/authorization.js")
}