﻿@model GeneratorOfReports.ViewModels.QueryViewModel
@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Query_Create; }

<!-- BEGIN QUERIES OVERVIEW -->
<div class="container">
    <div class="row">
        <!-- BEGIN LEFT MENU -->
        <section class="col-5">
            <div class="panel panel-full">
                <!-- BEGIN PANEL TITLE -->
                <div class="row">
                    <h4 class="col-4">@GeneratorOfReports.Resources.Translation.Query_Queries</h4>
                    <div class="items-right">
                        <!-- CREATE BUTTON -->
                        <a href="/Query/Create" class="btn btn-orange-sm">
                            @GeneratorOfReports.Resources.Translation.Global_Create
                            <span class="fa fa-plus"></span>
                        </a>
                    </div>
                </div>
                <!-- END PANEL TITLE -->
                <!-- BEGIN PANEL BODY -->
                <div class="panel-body border-top">
                    @{Html.RenderPartial("Tables/_QueriesTable");}
                </div>
                <!-- END PANEL BODY -->
            </div>
        </section>
        <!-- END LEFT MENU -->
        <!-- BEGIN RIGHT SECTION -->
        <section class="col-7">
            <div class="panel panel-full">
                <div class="panel-title col-12">
                    <h3>
                        Query Details
                    </h3>
                </div>
                <!-- BEGIN QUERY DETAILS -->
                <div id="queryDetails" class="panel-body col-12">
                    <p class="border-top">
                        @GeneratorOfReports.Resources.Translation.Query_Details_BeforeSelect
                    </p>
                </div>
                <!-- END QUERY DETAILS -->
            </div>
        </section>
        <!-- END RIGHT SECTION -->
    </div>
</div>
<!-- END QUERIES OVERVIEW -->
@{Html.RenderPartial("Modals/_ConfirmationModal");}

@section Scripts {
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/query/overview")
    @Scripts.Render("~/Scripts/Custom/authorizationDetails.js")
}