﻿@model GeneratorOfReports.ViewModels.ForgottenPasswordViewModel
@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Account_ForgottenPassword; }

<!-- BEGIN LOGIN -->
<section class="container-white container-center" id="forgottenPasswordSection">
    <div class="col-7 center">
        <h5>
            @GeneratorOfReports.Resources.Translation.Account_ForgottenPassword_Text
        </h5>
        @using (Html.BeginForm("ForgottenPassword", "Account", FormMethod.Post, new { id = "forgottenPasswordForm", @class = "col-lg-5" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-6 center">

                <!-- EMAIL -->
                <fieldset>
                    @Html.EditorFor(model => model.Email)
                    @Html.LabelFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </fieldset>

                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn-green-lg">@GeneratorOfReports.Resources.Translation.Account_Email_SendEmail</button>

            </div>
        }
    </div>
</section>
<!-- END LOGIN -->