﻿@model GeneratorOfReports.ViewModels.LoginViewModel
@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Account_Login; }

<!-- BEGIN LOGIN -->
<div class="container-center">
    <div class="col-4">
        <div class="fa-stack-large">
            <span class="hexagon"></span>
            <i class="fas fa-user fa-stack-1x"></i>
        </div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm" }))
        {
            @Html.AntiForgeryToken()

            <!-- USERNAME -->
            <fieldset>
                @Html.EditorFor(model => model.Login)
                @Html.LabelFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </fieldset>

            <!-- PASSWORD -->
            <fieldset>
                <div class="fa fa-eye icon-input icon-password"></div>
                @Html.EditorFor(model => model.Password)
                @Html.LabelFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </fieldset>

            <!-- SUBMIT BUTTON -->
            <fieldset>
                <button type="submit" class="btn btn-green-lg">@GeneratorOfReports.Resources.Translation.Account_Login</button>
                @Html.ValidationMessage("allErrors", new { @class = "error-message center" })
            </fieldset>

            <!-- FORGOTTEN PASSWORD -->
            <div class="center">
                <a href="~/Account/ForgottenPassword" title="Redirect to forgotten password">@GeneratorOfReports.Resources.Translation.Account_Login_Forgot</a>
            </div>
        }
    </div>
</div>
<!-- END LOGIN -->