﻿@model GeneratorOfReports.ViewModels.ResetPasswordViewModel
@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Account_ResetPassword; }

<!-- BEGIN LOGIN -->
<section id="resetPasswordSection" class="container-white container-center">
    <div class="col-5">
        <h3>
            @GeneratorOfReports.Resources.Translation.Account_ResetPassword_Text
        </h3>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "resetPasswordForm" }))
        {
            @Html.AntiForgeryToken()

            <!-- CODE -->
            <fieldset>
                @Html.EditorFor(model => model.Code)
                @Html.LabelFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </fieldset>

            <!-- PASSWORD -->
            <fieldset>
                <span class="fa fa-eye icon-input icon-password"></span>
                @Html.EditorFor(model => model.Password)
                @Html.LabelFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </fieldset>

            <!-- CONFIRM PASSWORD -->
            <fieldset>
                <span class="fa fa-eye icon-input icon-password"></span>
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </fieldset>

            <!-- SUBMIT BUTTON -->
            <button type="submit" class="btn btn-green-lg">@GeneratorOfReports.Resources.Translation.Global_Confirm</button>
        }
    </div>
</section>
<!-- END LOGIN -->
