﻿@model GeneratorOfReports.ViewModels.ConditionStringParameterTypeViewModel

@if (Model != null && Model.ComparisonsSelectList != null)
{
    <fieldset class="col-2">
        @Html.DropDownListFor(model => model.Condition, Model.ComparisonsSelectList, GeneratorOfReports.Resources.Translation.Global_Comparison, new { @id = "parameterOperator" + Model.Hash })
    </fieldset>
}
<fieldset class="col-4">
    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @id = "parameterValue" + Model.Hash } })
    <label>@GeneratorOfReports.Resources.Translation.Global_Value</label>
</fieldset>
