﻿@model GeneratorOfReports.ViewModels.DateParameterTypeViewModel

<!-- DATE FROM -->
<fieldset class="col-4">
    @Html.EditorFor(model => model.ActionDateFrom, new { htmlAttributes = new { @id = "parameterActionDateTimeFrom" + Model.Hash, @class = "fromDateTimePicker", value = Model.ActionDateFrom.HasValue ? Model.ActionDateFrom.Value.ToString("MM/dd/yyyy") : string.Empty, autocomplete = "off" } })
    <label>@GeneratorOfReports.Resources.Translation.Global_DateFrom</label>
    <button type="button" class="ui-datepicker-trigger"><i class="fa fa-clock"></i></button>
    @Html.ValidationMessageFor(model => model.ActionDateFrom)
</fieldset>
<!-- DATE TO -->
<fieldset class="col-4">
    @Html.EditorFor(model => model.ActionDateTo, new { htmlAttributes = new { @id = "parameterActionDateTimeTo" + Model.Hash, @class = "toDateTimePicker", value = Model.ActionDateTo.HasValue ? Model.ActionDateTo.Value.ToString("MM/dd/yyyy") : string.Empty, autocomplete = "off" } })
    <label>@GeneratorOfReports.Resources.Translation.Global_DateTo</label>
    <button type="button" class="ui-datepicker-trigger"><i class="fa fa-clock"></i></button>
    @Html.ValidationMessageFor(model => model.ActionDateTo)
</fieldset>