﻿@model GeneratorOfReports.ViewModels.DateParameterTypeViewModel

<!-- DATE FROM -->
<fieldset class="col-4">
    @Html.EditorFor(model => model.ActionDateFrom, new { htmlAttributes = new { @id = "parameterActionDateFrom" + Model.Hash, @class = "fromDatepicker", value = Model.ActionDateFrom.HasValue ? Model.ActionDateFrom.Value.ToString("MM/dd/yyyy") : string.Empty, autocomplete = "off" } })
    <label>@GeneratorOfReports.Resources.Translation.Global_DateFrom</label>
    @Html.ValidationMessageFor(model => model.ActionDateFrom)
</fieldset>
<!-- DATE TO -->
<fieldset class="col-4">
    @Html.EditorFor(model => model.ActionDateTo, new { htmlAttributes = new { @id = "parameterActionDateTo" + Model.Hash, @class = "toDatepicker", value = Model.ActionDateTo.HasValue ? Model.ActionDateTo.Value.ToString("MM/dd/yyyy") : string.Empty, autocomplete = "off" } })
    <label>@GeneratorOfReports.Resources.Translation.Global_DateTo</label>
    @Html.ValidationMessageFor(model => model.ActionDateTo)
</fieldset>