﻿@model GeneratorOfReports.ViewModels.DbMultiselectParameterTypeViewModel

<fieldset class="col-3">
    @Html.HiddenFor(model => model.Database, new { @id = "context" + Model.Hash })
    @Html.EditorFor(model => model.TableIdentifier, new { htmlAttributes = new { @id = "table" + Model.Hash, @class = "multiselectInput" } })
    <label>@GeneratorOfReports.Resources.Translation.Global_Table</label>
</fieldset>
<fieldset class="col-3">
    @Html.EditorFor(model => model.ValueIdentifier, new { htmlAttributes = new { @id = "columnValue" + Model.Hash, @class = "multiselectInput" } })
    <label>@GeneratorOfReports.Resources.Translation.Global_ColumnValue</label>
</fieldset>
<fieldset class="col-3">
    @Html.EditorFor(model => model.TextIdentifier, new { htmlAttributes = new { @id = "columnText" + Model.Hash, @class = "multiselectInput" } })
    <label>@GeneratorOfReports.Resources.Translation.Global_ColumnText</label>
</fieldset>
@if (Model != null && Model.Options != null)
{
    <fieldset class="col-3">
        @Html.DropDownListFor(model => model.Selected, Model.Options, new { multiple = "multiple", @class = "multiselect", id = "parameterSelect" + Model.Hash, @placeholder = GeneratorOfReports.Resources.Translation.Global_Select })
    </fieldset>
}