﻿@model GeneratorOfReports.ViewModels.ParameterTypeViewModel

<fieldset class="col-4">
    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @id = "parameterValue" + Model.Hash } })
    <label>@GeneratorOfReports.Resources.Translation.Global_Value</label>
</fieldset>