﻿@model GeneratorOfReports.ViewModels.PositiveIntParameterTypeViewModel

<fieldset class="col-4">
    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @id = "parameterValue" + Model.Hash, min = 0 } })
    <label>@GeneratorOfReports.Resources.Translation.Global_Value</label>
</fieldset>