﻿@model GeneratorOfReports.ViewModels.LocalityWithRolesViewModel

@if (Model != null)
{
    <!-- BEGIN SELECT LOCALITY -->
    <td>
        @if (Model.LocalitySelectViewModel.SelectList == null)
        {
            <p class="selectedLocality" id="@Model.LocalitySelectViewModel.ID">@Model.LocalitySelectViewModel.Selected</p>
        }
        else
        {
            <fieldset>
                @Html.DropDownListFor(model => model.LocalitySelectViewModel.ID, Model.LocalitySelectViewModel.SelectList, GeneratorOfReports.Resources.Translation.Global_Select, new { @class = "localityOption" })
                @Html.ValidationMessageFor(model => model.LocalitySelectViewModel.ID)
            </fieldset>
        }
    </td>
    <!-- END SELECT LOCALITY -->
    <!-- BEGIN SELECT ROLES -->
    <td>
        <!-- BEGIN ROLES LIST -->
        @if (Model.RoleSelectViewModel.SelectedList != null)
        {
            foreach (var role in Model.RoleSelectViewModel.SelectedList)
            {
                <div class="row">
                    <a href="#" class="removeRoleFromList" title="Remove role from selection" id="@role.ID">
                        @role.Name
                        <span class="fa fa-times"></span>
                    </a>
                </div>
            }
        }
        <!-- END ROLES LIST -->
        <!-- BEGIN SELECT ROLE -->
        @if (Model.RoleSelectViewModel.SelectList != null)
        {
            <fieldset>
                @Html.DropDownList(Model.LocalitySelectViewModel.ID + "role", Model.RoleSelectViewModel.SelectList, @GeneratorOfReports.Resources.Translation.Global_Select, new { @class = "addRoleToList roleOption" })
                @Html.ValidationMessageFor(model => model.RoleSelectViewModel.SelectList, "")
            </fieldset>
        }
        <!-- END SELECT ROLE -->
    </td>
    <!-- END SELECT ROLES -->
    <!-- BEGIN EDIT OPTION -->
    <td class="center">
        @if (Model.LocalitySelectViewModel.SelectList == null)
        {
            <a href="#" role="button" class="removeOption" title="Remove option"><span class="fa fa-times"></span></a>
        }
        else
        {
            <a class="btn btn-orange-sm addOption">
                @GeneratorOfReports.Resources.Translation.Global_AddOption
                <span class="fa fa-plus"></span>
            </a>
        }
    </td>
    <!-- END EDIT OPTION -->
}