﻿@model GeneratorOfReports.ViewModels.LocalitySelectViewModel

<div class="row" id="localitySelection" add-url="AddLocalityToSelection" remove-url="RemoveLocalityFromSelection">
    <!-- BEGIN SELECT LOCALITY -->
    <fieldset class="col-3">
        @if (Model != null && Model.SelectList != null)
        {
            @Html.DropDownList("LocalitiesSelect" + Model.ID + "SelectionAdd", Model.SelectList, GeneratorOfReports.Resources.Translation.Global_Select, new { @class = "addSelection" })
        }
    </fieldset>
    <!-- END SELECT LOCALITY -->
    <!-- BEGIN LOCALITIES LIST -->
    <fieldset class="col-9">
        @if (Model != null && Model.SelectedList != null)
        {
            foreach (var locality in Model.SelectedList)
            {
                <a href="#" removedID="@locality.ID" class="removeSelection" title="Remove locality from selection">
                    @locality.Name
                    <span class="fa fa-times"></span>
                </a>
            }
        }
    </fieldset>
    <!-- END LOCALITIES LIST -->
</div>