﻿@model GeneratorOfReports.ViewModels.RoleSelectViewModel

<div class="row" id="roleSelection" add-url="AddRoleToSelection" remove-url="RemoveRoleFromSelection">
    <!-- BEGIN SELECT ROLE -->
    <fieldset class="col-3">
        @if (Model != null && Model.SelectList != null)
        {
            @Html.DropDownList("RolesSelect" + Model.ID + "SelectionAdd", Model.SelectList, GeneratorOfReports.Resources.Translation.Global_Select, new { @class = "addSelection" })
        }
     </fieldset> 
    <!-- END SELECT ROLE --> 
    <!-- BEGIN ROLES LIST -->
    <fieldset class="col-9">
        @if (Model != null && Model.SelectedList != null)
        {
            foreach (var role in Model.SelectedList)
            {
            <a href="#" class="removeSelection" title="Remove role from selection" removedID="@role.ID">
                 @role.Name
                <span class="fa fa-times"></span>
            </a>
            }
        }
    </fieldset> <!-- END ROLES LIST -->
</div>