﻿@model int
@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Global_Error; }

<!-- BEGIN ERROR -->
<section class="container-white container-center">
    <div class="col-8">
        <h3 class="text-important">
            Oops ...
            <span class="fa fa-heartbeat"></span>
        </h3>
        <h2>
            @GeneratorOfReports.Resources.Translation.Global_Error @Model
        </h2>
        <h4>
            @GeneratorOfReports.Resources.Translation.Global_Error_Text
        </h4>
        <div class="row">
            <a class="btn btn-white-sm" href="/Home/HelpCenter">
                @GeneratorOfReports.Resources.Translation.Global_HelpCenter
            </a>
            <a class="btn btn-orange-sm" href="/Home/Home">
                @GeneratorOfReports.Resources.Translation.Global_Home
            </a>
        </div>
    </div>
</section>
<!-- END ERROR -->