﻿@model GeneratorOfReports.ViewModels.AuditsViewModel

<ul>
    @foreach (KeyValuePair<string, List<string>> duo in Model.HistoryOfActions)
    {
        <li>
            <div class="bullet"></div>
            <div class="time"> @duo.Key </div>
            <div class="desc">
                @foreach (var action in duo.Value)
                {
                    <p>
                        @action
                    </p>
                }
            </div>
        </li>
    }
</ul>