﻿<!-- BEGIN QUERY AUTHORIZATION TABLE -->
<table id="authorizationTable" class="table-with-ID">
    <thead>
        <tr>
            <th class="ID">@GeneratorOfReports.Resources.Translation.Global_ID</th>
            <th>@GeneratorOfReports.Resources.Translation.Global_Location</th>
            <th>@GeneratorOfReports.Resources.Translation.Global_SelectAll</th>
            <th>@GeneratorOfReports.Resources.Translation.Global_Visibility</th>
            <th>@GeneratorOfReports.Resources.Translation.Global_Edit</th>
            <th>@GeneratorOfReports.Resources.Translation.Global_Remove</th>
        </tr>
    </thead>
</table>
<!-- END QUERY AUTHORIZATION TABLE -->