﻿@model IEnumerable<GeneratorOfReports.ContextManagement.Error>

<!-- BEGIN ERRORS TABLE -->
<table id="errorsTable">
    <thead>
        <tr>
            <th>@GeneratorOfReports.Resources.Translation.Global_Type</th>
            <th>@GeneratorOfReports.Resources.Translation.Global_Description</th>
            <th>@GeneratorOfReports.Resources.Translation.Global_Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var error in Model)
            {
                <tr>
                    <td>
                        @error.Type
                    </td>
                    <td>
                        @error.Description
                    </td>
                    <td class="location center">
                        @error.Location
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<!-- END ERRORS TABLE -->