﻿@model IList<GeneratorOfReports.ViewModels.LocalityWithRolesViewModel>

<!-- BEGIN ROLES AND LOCALITIES TABLE -->
<table id="localityWithRolesTable">
    <thead>
        <tr>
            <th>@GeneratorOfReports.Resources.Translation.User_Locality</th>
            <th>@GeneratorOfReports.Resources.Translation.User_Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="localityWithRolesTableBody">
        @foreach (var localityWithRoles in Model)
        {
            <tr>
                @Html.Partial("Selections/_LocalityWithRolesSelectPartial", localityWithRoles)
            </tr>
        }
    </tbody>
</table>
<!-- END ROLES AND LOCALITIES TABLE -->

@Scripts.Render("~/Scripts/Custom/User/localityWithRolesTable.js")