﻿@model GeneratorOfReports.ViewModels.QuerySearchViewModel

<!-- BEGIN QUERIES TABLE -->
<table id="selectQueriesTable" class="table-with-ID">
    <thead>
        <tr>
            <th>
                @GeneratorOfReports.Resources.Translation.Global_ID
            </th>
            <th></th>
            <th>
                <fieldset>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "queriesSearchName", @autocomplete = "off" } })
                    @Html.LabelFor(model => model.Name)
                </fieldset>
            </th>
            <th>
                <fieldset>
                    @Html.EditorFor(model => model.Database, new { htmlAttributes = new { @autocomplete = "off" } })
                    @Html.LabelFor(model => model.Database)
                </fieldset>
            </th>
            <th>
                <fieldset>
                    @if (Model != null && Model.ValidSelectList != null)
                    {
                        @Html.DropDownListFor(model => model.Valid, Model.ValidSelectList, GeneratorOfReports.Resources.Translation.Global_Valid, new { @id = "queriesSearchValid" })
                    }
                </fieldset>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<!-- END QUERIES TABLE -->
