﻿@model GeneratorOfReports.ViewModels.QuerySearchViewModel

<!-- BEGIN QUERIES TABLE -->
<table id="queriesTable" class="clickable-table table-with-ID">
    <thead>
        <tr>
            <th>
                @GeneratorOfReports.Resources.Translation.Global_ID
            </th>
            <th>
                <fieldset>
                    @Html.EditorFor(model => model.Name)
                    @Html.LabelFor(model => model.Name)
                </fieldset>
            </th>
            <th>
                <fieldset>
                    @Html.EditorFor(model => model.Database)
                    @Html.LabelFor(model => model.Database)
                </fieldset>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<!-- END QUERIES TABLE -->
