﻿<!-- BEGIN REPORTS TABLE -->
<table id="reportsTable" class="table-with-ID">
    <thead>
        <tr>
            <th>@GeneratorOfReports.Resources.Translation.Global_ID</th>
            <th>@GeneratorOfReports.Resources.Translation.Report_Order</th>
            <th>@GeneratorOfReports.Resources.Translation.Global_Name</th>
            <th>@GeneratorOfReports.Resources.Translation.Global_Description</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<!-- END REPORTS TABLE -->