﻿<!-- BEGIN USERS TABLE -->
<table id="usersTable" class="table-with-ID">
    <thead>
        <tr>
            <th>@GeneratorOfReports.Resources.Translation.Global_ID</th>
            <th>@GeneratorOfReports.Resources.Translation.User_PersonalNumber</th>
            <th>@GeneratorOfReports.Resources.Translation.User_Username</th>
            <th>@GeneratorOfReports.Resources.Translation.User_FirstName</th>
            <th>@GeneratorOfReports.Resources.Translation.User_Surname</th>
            <th>@GeneratorOfReports.Resources.Translation.User_Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<!-- END USERS TABLE -->