﻿@model GeneratorOfReports.ViewModels.ReportCreateViewModel
@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Report_Create; }

<!-- BEGIN CREATE REPORT -->
<section class="container-white">
    <div class="container">
        <div class="row col-12">
            <h2>@GeneratorOfReports.Resources.Translation.Report_Create</h2>
        </div>
        <!-- BEGIN BASICS SETTINGS -->
        <section class="col-12 border-top">
            <h3>@GeneratorOfReports.Resources.Translation.Global_BasicsSettings</h3>
            @{Html.RenderPartial("Forms/_ReportBasicsSettingsForm", Model.Report);}
        </section>
        <!-- END BASICS SETTINGS -->
        <!-- BEGIN SELECT QUERIES SECTION -->
        <section class="border-top">
            <h3>
                @GeneratorOfReports.Resources.Translation.Query_Select_Queries
            </h3>
            @{ Html.RenderAction("GenerateSelectQueriesTable", "Report"); }
            <fieldset>
                @Html.ValidationMessage("", new { @id = "queriesValidationMessage" })
            </fieldset>
        </section>
        <!-- END SELECT QUERIES SECTION -->
        <!-- BEGIN AUTHORIZATION -->
        <section class="border-top">
            <div class="row">
                <h3>
                    @GeneratorOfReports.Resources.Translation.Global_Authorization
                </h3>
                <!-- BEGIN TOOLTIP -->
                <div class="tooltip">
                    <span class="fa fa-question-circle"></span>
                    <span class="tooltiptext">@GeneratorOfReports.Resources.Translation.Authorization_Tooltip</span>
                </div>
                <!-- END TOOLTIP -->
            </div>
            @Html.Partial("Tables/_AuthorizationTable")
        </section>
        <!-- END AUTHORIZATION -->
        <!-- BEGIN BUTTONS -->
        <div class="row border-top">
            <div class="items-right">
                <!-- CREATE BUTTON -->
                <button id="createReportButton" class="btn btn-orange-sm">
                    @GeneratorOfReports.Resources.Translation.Report_Create
                    <span class="fa fa-check"></span>
                </button>
            </div>
        </div>
        <!-- END BUTTONS -->
    </div>
</section>
<!-- END CREATE REPORT -->

@{Html.RenderPartial("Modals/_ConfirmationModal","");}

@section scripts {
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/report/modify")
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/report/selectQueries")
    @Scripts.Render("~/Scripts/Custom/authorization.js")
}