﻿@model GeneratorOfReports.ViewModels.GenerateReportViewModel
@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Report_Generate; }

<!-- BEGIN GENERATE REPORT -->
<section class="container-white">
    <div class="container">
        <!-- BEGIN ROW -->
        <div class="row">
            <!-- BACK (OVERVIEW) REPORT BUTTON -->
            <a href="/Report/Overview" class="btn btn-white-sm">
                <span class="fa fa-arrow-left"></span>
                @GeneratorOfReports.Resources.Translation.Global_BackToOverview
            </a>
            <!-- TITLE -->
            <div class="items-right">
                <h1>@GeneratorOfReports.Resources.Translation.Report_Generate</h1>
            </div>
        </div>
        <!-- END ROW -->
        @if (Model == null || Model.Message != null)
        {
            <div class="border-top text-center">
                @Model.Message
            </div>
        }
        else
        {
            <!-- BEGIN BASICS INFORMATION -->
            <div class="border-top">
                <form id="reportBasicsDetails" class="container-black">
                    <div class="row">
                        <h5>@GeneratorOfReports.Resources.Translation.Global_BasicsSettings</h5>
                    </div>
                    @Html.Hidden("ID", Model.Report.ID, new { @id = "reportIdentifier" + Model.Report.ID })
                    <div class="row">
                        <!-- NAME -->
                        <div class="col-3">
                            <p class="p-small">
                                @GeneratorOfReports.Resources.Translation.Global_Name
                                @Html.Hidden("Name", Model.Report.Name)
                            </p>
                            <p>
                                @Html.DisplayTextFor(model => model.Report.Name)
                            </p>
                        </div>
                        <!-- TIME CREATE -->
                        <div class="col-3">
                            <p class="p-small">
                                @GeneratorOfReports.Resources.Translation.Global_TimeCreate
                            </p>
                            <p>
                                @Html.DisplayTextFor(model => model.Report.TimeCreate)
                            </p>
                        </div>
                        <!-- DESCRIPTION -->
                        <div class="col-6">
                            <p class="p-small">
                                @GeneratorOfReports.Resources.Translation.Global_Description
                            </p>
                            <p>
                                @Html.DisplayTextFor(model => model.Report.Description)
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END BASICS INFORMATION -->
            <!-- BEGIN MULTIPLE STEPS FORM -->
            <div id="multipleStepsForm">
                <!-- BEGIN BASICS SETTINGS -->
                <section>
                    <h4>@GeneratorOfReports.Resources.Translation.Global_BasicsSettings</h4>
                    <form id="reportBasicsSettings" class="border-top">
                        <div class="row">
                            <p class="form-check">@GeneratorOfReports.Resources.Translation.Report_Format</p>
                            <fieldset class="col-4">
                                @Html.DropDownList("Format", Model.FormatSelectList)
                            </fieldset>
                        </div>
                    </form>
                </section>
                <!-- END BASICS SETTINGS -->
                <!-- BEGIN QUERIES SETTINGS -->
                <section>
                    <h4 class="hide">@GeneratorOfReports.Resources.Translation.Query_Queries</h4>
                    @if (Model.Queries != null)
                    {
                        foreach (var query in Model.Queries)
                        {
                            <div class="container container-gray querySettings">
                                <!-- BEGIN QUERY -->
                                <h4>@GeneratorOfReports.Resources.Translation.Report_Query</h4>
                                <!-- BEGIN BASICS INFORMATION -->
                                <form class="border-top">
                                    <h5>@GeneratorOfReports.Resources.Translation.Global_BasicsSettings</h5>
                                    <input name="ID" type="hidden" value="@query.Query.ID">
                                    <!-- NAME -->
                                    <div class="row">
                                        <div class="col-3 vertical-group">
                                            <p class="p-small">
                                                @GeneratorOfReports.Resources.Translation.Global_Name
                                            </p>
                                            <p>
                                                @Html.DisplayFor(Model => query.Query.Name)
                                            </p>
                                        </div>
                                        <!-- NAME -->
                                        <div class="col-2 vertical-group">
                                            <p class="p-small">
                                                @GeneratorOfReports.Resources.Translation.Global_TimeCreate
                                            </p>
                                            <p>
                                                @Html.DisplayFor(Model => query.Query.TimeCreate)
                                            </p>
                                        </div>
                                        <!-- DESCRIPTION -->
                                        <div class="col-7 vertical-group">
                                            <p class="p-small">
                                                @GeneratorOfReports.Resources.Translation.Global_Description
                                            </p>
                                            <p>
                                                @Html.DisplayFor(Model => query.Query.Description)
                                            </p>
                                        </div>
                                    </div>
                                </form>
                                <!-- END BASICS INFORMATION -->
                                <!-- BEGIN PARAMETERS -->
                                <h5 class="border-top">@GeneratorOfReports.Resources.Translation.Query_Parameters</h5>
                                <div>
                                    @if (query.Parameters.Any())
                                    {
                                        foreach (var parameter in query.Parameters)
                                        {
                                            <!-- BEGIN PARAMETER -->
                                            <div class="parameterSettings container-darkgray">
                                                @{Html.RenderPartial("Forms/_QueryParameterForm", parameter);}
                                            </div>
                                            <!-- END PARAMETER -->
                                        }
                                    }
                                    else
                                    {
                                        <p>@GeneratorOfReports.Resources.Translation.Query_Parameter_None</p>
                                    }
                                </div>
                                <!-- END PARAMETERS -->
                            </div>
                            <!-- END QUERY -->
                        }
                    }
                </section>
                <!-- END QUERIES SETTINGS -->
            </div>
            <!-- END MULTIPLE STEPS FORM -->
        }
    </div>
</section>
<!-- END GENERATE REPORT -->

@section scripts {
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/report/generate")
}