﻿@{ ViewBag.Title = GeneratorOfReports.Resources.Translation.Report_Overview; }

<!-- BEGIN REPORTS OVERVIEW -->
<section id="reportsOverview">
    <div class="container-white">
        <div class="container">
            <h1>@GeneratorOfReports.Resources.Translation.Report_Overview</h1>
            <div class="row border-top">
                <!-- TOGGLE FILTERS BUTTON -->
                <button class="btn btn-white-sm hideShowToggler">
                    @GeneratorOfReports.Resources.Translation.Global_Search
                    <span class="fa fa-chevron-down icon-show"></span>
                    <span class="fa fa-caret-down icon-hide hide"></span>
                </button>
                <!-- CREATE USER BUTTON -->
                <div class="items-right">
                    <a href="/Report/Create" class="btn btn-orange-sm">
                        @GeneratorOfReports.Resources.Translation.Report_Create
                        <span class="fa fa-plus"></span>
                    </a>
                </div>
            </div>
            <!-- BEGIN HIDE AND SHOW ELEMENT -->
            <div class="hideAndShowElement hide">
                @{ Html.RenderAction("GenerateSearchForm", "Report"); }
            </div>
            <!-- END HIDE AND SHOW ELEMENT -->
            <!-- BEGIN REPORTS TABLE PARTIAL -->
            <div class="border-top">
                @{Html.RenderPartial("Tables/_ReportsTable");}
            </div>
            <!-- END REPORTS TABLE PARTIAL -->
        </div>
    </div>
</section>
<!-- END REPORTS OVERVIEW -->
<!-- BEGIN REPORT MODAL -->
<div id="reportModal">
</div>
<!-- END REPORT MODAL -->
<!-- BEGIN CHANGE ORDER SECTION -->
<div id="editOrderSection">
</div>
<!-- END CHANGE ORDER SECTION -->
@{Html.RenderPartial("Modals/_ConfirmationModal");}

@section Scripts {
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/report/overview")
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/report/modify")
    @GeneratorOfReports.Utilities.LocalizationUtility.LocalizeBundle("~/bundles/translated/report/selectQueries")
    @Scripts.Render("~/Scripts/Custom/authorization.js")
    @Scripts.Render("~/Scripts/Custom/authorizationDetails.js")
}